{% extends "registration/login.html" %}
{% load staticfiles %}

{% block content_wrapper %}

    <!-- Content area -->
    <div class="content d-flex justify-content-center align-items-center">

        <!-- Login form -->
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again</p>
        {% endif %}
        <form class="login-form" action="/login/submit/" method="post">
            {% csrf_token %}
            <div class="card mb-0">
                <div class="card-body">
                    <div class="text-center mb-3">
                        <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
                        <h5 class="mb-0">Login to your account</h5>
                        <span class="d-block text-muted">Enter your credentials below</span>
                    </div>

                    <div class="form-group form-group-feedback form-group-feedback-left">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                        <div class="form-control-feedback">
                            <i class="icon-user text-muted"></i>
                        </div>
                    </div>

                    <div class="form-group form-group-feedback form-group-feedback-left">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                        <div class="form-control-feedback">
                            <i class="icon-lock2 text-muted"></i>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Sign in <i class="icon-circle-right2 ml-2"></i></button>
                    </div>
                </div>
            </div>
        </form>
        <!-- /login form -->

    </div>
    <!-- /content area -->

{% endblock %}




<!-- #################################### -->
<!-- BLOCKS NECESSARY FOR MAIN HTML START -->
{% block main_navbar %}
	{% include "blocks/main/main_navbar.html" %}
{% endblock %}

{% block main_footer %}
	{% include "blocks/main/main_footer.html" %}
{% endblock %}
<!-- BLOCKS NECESSARY FOR MAIN HTML END -->
<!-- ################################## -->