{% load staticfiles %}

{% block address_table %}

    <div class="card">
        <div class="card-body">
            <button type="button" class="btn bg-slate-600 btn-group mr-2" data-toggle="modal"
                    data-target="#modal_form_vertical">Yeni Adres Ekle
            </button>
            <form action="/address/change-show-count/" method="post" class="btn-group mr-2">
                {% csrf_token %}
                <select name="show_by_count" onchange="this.form.submit()"
                        class="form-control select" data-container-css-class="bg-slate-700"
                        data-dropdown-css-class="bg-slate-700" data-placeholder="Show by:"
                        data-fouc>
                    <option style="display: none;"></option>
                    <optgroup label="Show by:">
                        <option value="20" {% if show_address_by|safe == "20" %}selected{% else %}{% endif %}>
                            20
                        </option>
                        <option value="50" {% if show_address_by|safe == "50" %}selected{% else %}{% endif %}>
                            50
                        </option>
                        <option value="100" {% if show_address_by|safe == "100" %}selected{% else %}{% endif %}>
                            100
                        </option>
                        <option value="200" {% if show_address_by|safe == "200" %}{% if default == 0 %}selected
                        {% elif default == 1 %}{% endif %}{% else %}{% endif %}>200
                        </option>
                    </optgroup>
                </select>
            </form>
        </div>
    </div>

    <!-- Inline form modal -->
    <div id="modal_form_vertical" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Yeni Adres Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="/address/add/" id="address_form" method="post"
                      data-counties-url="{% url 'ajax_address_load_counties' %}" novalidate>
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">Adres 1:</label>
                                    <input type="text" placeholder="Adres 1'i açık şekilde giriniz" class="form-control"
                                           name="address_description" id="address_description">
                                    <label class="ml-sm-2">Adres 2:</label>
                                    <input type="text" placeholder="Adres 2'yi açık şekilde giriniz"
                                           class="form-control"
                                           name="address_otheraddrinfo" id="address_otheraddrinfo">
                                    <div class="col-sm-6">
                                    <label class="ml-sm-2">Aktif:</label>
                                    <div class="form-check form-check-switch form-check-switch-left">
                                        <label class="form-check-label d-flex align-items-center">
                                            <input type="checkbox" id="address_active" name="address_active"
                                                   class="form-check-input form-check-input-switch"
                                                   data-on-text="Evet" data-off-text="Hayır"
                                                   data-on-color="success"
                                                   data-off-color="danger">
                                        </label>
                                    </div>
                                </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">Şehir:</label>
                                    <select class="form-control select"
                                            data-container-css-class="bg-slate-700"
                                            data-dropdown-css-class="bg-slate-700"
                                            data-placeholder="Adresin şehri giriniz"
                                            data-fouc name="address_cities"
                                            id="address_cities">
                                        <option></option>
                                        {% for city in cities %}
                                            <option value="{{ city.id }}">{{ city.city }}</option>
                                        {% endfor %}
                                    </select>

                                    <label class="ml-sm-2">İlçe:</label>
                                    <select class="form-control select"
                                            data-container-css-class="bg-slate-700"
                                            data-dropdown-css-class="bg-slate-700"
                                            data-placeholder="Adresin ilçesi giriniz"
                                            data-fouc name="address_counties"
                                            id="address_counties">
                                        <option></option>
                                    </select>
                                    <label class="ml-sm-2">Semt:</label>
                                    <select class="form-control select"
                                            data-container-css-class="bg-slate-700"
                                            data-dropdown-css-class="bg-slate-700"
                                            data-placeholder="Adresin semtini giriniz"
                                            data-fouc name="address_districts"
                                            id="address_districts">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <script>
                            $("#address_cities").change(function () {
                                var url = $("#address_form").attr("data-counties-url");
                                var cityId = $(this).val();
                                $.ajax({
                                    url: url,
                                    data: {
                                        'address_cities': cityId
                                    },
                                    success: function (data) {
                                        $("#address_counties").html(data);
                                    }
                                });
                            });
                        </script>

                        <script>
                            $("#address_counties").change(function () {
                                var url = "ajax_address_load_districts/";
                                var countyId = $(this).val();
                                $.ajax({
                                    url: url,
                                    data: {
                                        'address_counties': countyId
                                    },
                                    success: function (data) {
                                        $("#address_districts").html(data);
                                    }
                                });
                            });
                        </script>

                        <div class="modal-footer">
                            <button type="submit" class="btn bg-teal-400 ml-sm-2 mb-sm-0">Kaydet</button>
                            <button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /inline form modal -->



    <!-- Pharmacy table -->

    <div class="card">
        <table class="table table-togglable table-hover">
            <thead>
            <tr>
                <th data-hide="phone,tablet">ID</th>
                <th data-toggle="true">Adres 1</th>
                <th data-hide="phone,table">Adres 2</th>
                <th data-hide="phone,tablet">Aktif</th>
                <th data-hide="phone,tablet">Oluşturma Tarihi</th>
                <th data-hide="phone,tablet">Güncelleme Tarihi</th>
                <th data-hide="phone,tablet">Şehir</th>
                <th data-hide="phone,tablet">İlçe</th>
                <th data-hide="phone,tablet">Semt</th>
                <th data-hide="phone,tablet"><span style="margin-left: 15px;">Değiştir/Sil</span></th>
            </tr>
            </thead>
            <tbody>
            {% for address in addresses_list %}
                <tr>
                    <td>{{ address.id }}</td>
                    <td>{{ address.description }}</td>
                    <td>{{ address.otheraddrinfo }}</td>
                    <td>{% if address.active == 1 %}Evet{% elif address.active == 0 %}Hayır{% endif %}</td>
                    <td>{{ address.cdate }}</td>
                    <td>{{ address.udate }}</td>
                    <td>{{ address.districts.counties.cities.city }}</td>
                    <td>{{ address.districts.counties.county }}</td>
                    <td>{{ address.districts }}</td>
                    <td>
                        <span>
                            <button type="button" class="btn btn-link" data-toggle="modal"
                                    data-target="#modal_form_vertical_{{ address.id }}"><i
                                    class="fa fa-edit mr-3"></i></button>
                            <button type="button" class="btn btn-link"
                                    onclick="if(confirm('Are you sure you want to delete item?'))
                                            document.getElementById('address-delete-{{ address.id }}').submit(); return false">
                                <i class="fa fa-trash-o" style="color: red;"></i></button>
                            <form action="/address/address-delete/" method="post"
                                  id="address-delete-{{ address.id }}">
                                {% csrf_token %}
                                <input name="address-delete" value="{{ address.id }}"
                                       style="display: none">
                            </form>
                        </span>
                    </td>
                </tr>


                <!-- Inline form modal -->
                <div id="modal_form_vertical_{{ address.id }}" class="modal fade" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Adres Bilgileri Değiştir</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <form action="/address/add/" id="address_edit_form" method="post"
                                  data-counties-url="{% url 'ajax_address_load_counties' %}" novalidate>
                                {% csrf_token %}
                                <input type="text" name="address_id" value="{{ address.id }}"
                                       style="display: none;">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">Adres 1:</label>
                                                <input type="text" placeholder="Adres 1'i açık şekilde giriniz"
                                                       class="form-control" value="{{ address.description }}"
                                                       name="address_description" id="address_description">
                                                <label class="ml-sm-2">Adres 2:</label>
                                                <input type="text" placeholder="Adres 2'yi açık şekilde giriniz"
                                                       class="form-control" value="{{ address.otheraddrinfo }}"
                                                       name="address_otheraddrinfo" id="address_otheraddrinfo">
                                                <label class="ml-sm-2">Aktif:</label>
                                                {% if address.active == 1 %}
                                                    <input type="text" name="address_active" value="0"
                                                           style="display: none;">
                                                    <div class="form-check form-check-switch form-check-switch-left">
                                                        <label class="form-check-label d-flex align-items-center">
                                                            <input type="checkbox"
                                                                   class="form-check-input form-check-input-switch"
                                                                   data-on-text="Evet" data-off-text="Hayır"
                                                                   data-on-color="success"
                                                                   data-off-color="danger"
                                                                   checked="checked">
                                                        </label>
                                                    </div>
                                                {% else %}
                                                    <input type="text" name="address_active" value="1"
                                                           style="display: none;">
                                                    <div class="form-check form-check-switch form-check-switch-left">
                                                        <label class="form-check-label d-flex align-items-center">
                                                            <input type="checkbox"
                                                                   class="form-check-input form-check-input-switch"
                                                                   data-on-text="Aktif" data-off-text="Pasif"
                                                                   data-on-color="success"
                                                                   data-off-color="danger">
                                                        </label>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">Şehir:</label>
                                                <select class="form-control select"
                                                        data-container-css-class="bg-slate-700"
                                                        data-dropdown-css-class="bg-slate-700"
                                                        data-placeholder="Adresin şehri giriniz"
                                                        data-fouc name="address_cities"
                                                        id="address_cities_{{ address.id }}">
                                                    <option></option>
                                                    {% for city in cities %}
                                                        {% if city.id == address.districts.counties.cities.id %}
                                                            <option value="{{ city.id }}"
                                                                    selected>{{ city.city }}</option>
                                                        {% else %}
                                                            <option value="{{ city.id }}">{{ city.city }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>

                                                <label class="ml-sm-2">İlçe:</label>
                                                <select class="form-control select"
                                                        data-container-css-class="bg-slate-700"
                                                        data-dropdown-css-class="bg-slate-700"
                                                        data-placeholder="Adresin ilçesi giriniz"
                                                        data-fouc name="address_counties"
                                                        id="address_counties_{{ address.id }}">
                                                    <option></option>
                                                    {% for county in address.districts.counties.cities.counties_cities_key.all %}
                                                        {% if county.id == address.districts.counties.id %}
                                                            <option value="{{ county.id }}"
                                                                    selected>{{ county.county }}</option>
                                                        {% else %}
                                                            <option value="{{ county.id }}">{{ county.county }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                                <label class="ml-sm-2">Semt:</label>
                                                <select class="form-control select"
                                                        data-container-css-class="bg-slate-700"
                                                        data-dropdown-css-class="bg-slate-700"
                                                        data-placeholder="Adresin semtini giriniz"
                                                        data-fouc name="address_districts"
                                                        id="address_districts_{{ address.id }}">
                                                    <option></option>
                                                    {% for district in address.districts.counties.districts_counties_key.all %}
                                                        {% if district.id == address.districts.id %}
                                                            <option value="{{ district.id }}"
                                                                    selected>{{ district.district }}</option>
                                                        {% else %}
                                                            <option value="{{ district.id }}">{{ district.district }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>

                                        </div>
                                    </div>

                                    <script>
                                        $("#address_cities_{{ address.id }}").change(function () {
                                            var url = $("#address_edit_form").attr("data-counties-url");
                                            var cityId = $(this).val();
                                            $.ajax({
                                                url: url,
                                                data: {
                                                    'address_cities': cityId
                                                },
                                                success: function (data) {
                                                    $("#address_counties_{{ address.id }}").html(data);
                                                }
                                            });
                                        });
                                    </script>

                                    <script>
                                        $("#address_counties_{{ address.id }}").change(function () {
                                            var url = "ajax_address_load_districts/";
                                            var countyId = $(this).val();
                                            $.ajax({
                                                url: url,
                                                data: {
                                                    'address_counties': countyId
                                                },
                                                success: function (data) {
                                                    $("#address_districts_{{ address.id }}").html(data);
                                                }
                                            });
                                        });
                                    </script>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn bg-teal-400 ml-sm-2 mb-sm-0">Kaydet</button>
                                        <button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /inline form modal -->



            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- /pharmacy table -->



{% endblock %}