{% load staticfiles %}

{% block address_header %}
    <div class="page-header page-header-light">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><span class="font-weight-semibold">Adresler</span></h4>
            </div>
        </div>
    </div>

{% endblock %}