<div class="tt-menu tt-open"
     style="position: absolute; top: 68%; left: 10px; z-index: 100; display: block; width: inherit">
    {% for product_brand in product_brands %}
        <div class="tt-suggestion" onclick="$('#edit_product_product_brand_id_{{ product.id }}').val('{{ product_brand.name }}'); $('#response_edit_{{ product.id }}').css('display', 'none'); $('.response_edit_product_brand_id').val('{{ product_brand.id }}');">
            <strong class="tt-highlight" id="{{ product_brand.id }}">{{ product_brand.name }}</strong></div>{% endfor %}</div>
