{% extends "products_manager.html" %}

{% load staticfiles %}

{% block product_table %}

    <div class="card">
        <div class="card-body">
            <button type="button" class="btn bg-slate-600 btn-group mr-2" data-toggle="modal"
                    data-target="#modal_form_vertical">Ürün Ekle
            </button>
            <form action="/product/change-show-count/" method="post" class="btn-group mr-2">
                {% csrf_token %}
                <select name="show_by_count" onchange="this.form.submit()"
                        class="form-control select" data-container-css-class="bg-slate-700"
                        data-dropdown-css-class="bg-slate-700" data-placeholder="Show by:"
                        data-fouc>
                    <option style="display: none;"></option>
                    <optgroup label="Show by:">
                        <option value="20" {% if show_product_by|safe == "20" %}selected{% else %}{% endif %}>
                            20
                        </option>
                        <option value="50" {% if show_product_by|safe == "50" %}selected{% else %}{% endif %}>
                            50
                        </option>
                        <option value="100" {% if show_product_by|safe == "100" %}selected{% else %}{% endif %}>
                            100
                        </option>
                        <option value="200" {% if show_product_by|safe == "200" %}{% if default == 0 %}selected
                        {% elif default == 1 %}{% endif %}{% else %}{% endif %}>200
                        </option>
                    </optgroup>
                </select>
            </form>
            <form action="/product/search/" method="post" class="btn-group mr-2">

                {% csrf_token %}
                <input type="text" class="form-control tt-input btn-group mr-2" id="product_search"
                       name="product_search" value="{{ search }}"
                       placeholder="Ürün ara" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;
										   top: 0px;">

                <button class="btn bg-slate-600 btn-group mr-2" type="submit">Ara</button>
            </form>
        </div>
    </div>

    <!-- Inline form modal -->
    <div id="modal_form_vertical" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Yeni Ürün Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="/product/add/" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="ml-sm-1">Barkod:</label>
                                    <input type="text" placeholder="Ürünün barkodu giriniz" class="form-control"
                                           name="product_barcode" id="product_barcode" required>
                                    <label class="ml-sm-1">İsim:</label>
                                    <input type="text" placeholder="Ürünün ismini giriniz" class="form-control"
                                           name="product_name" id="product_name" required>
                                    <label class="ml-sm-1">Açıklama:</label>
                                    <input type="text" placeholder="Ürünün açıklamasını giriniz" class="form-control"
                                           name="product_description" id="product_description" required>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">Aktif:</label>
                                    <div class="form-check form-check-switch form-check-switch-left">
                                        <label class="form-check-label d-flex align-items-center">
                                            <input type="checkbox" id="product_active" name="product_active"
                                                   class="form-check-input form-check-input-switch"
                                                   data-on-text="Evet" data-off-text="Hayır"
                                                   data-on-color="success"
                                                   data-off-color="danger">
                                        </label>
                                    </div>
                                    <label class="ml-sm-1">Ürün Markası:</label>
                                    <input type="text" name="response_product_brand_id" id="response_product_brand_id"
                                           style="display: none;">
                                    <input type="text" class="form-control tt-input"
                                           id="product_product_brand_id" name="product_product_brand_id"
                                           placeholder="Ürünün Markasını Seçiniz" autocomplete="off" spellcheck="false"
                                           dir="auto"
                                           style="position: relative; vertical-align: top; background-color: transparent;
                                           top: 0px;" onclick="$('#response').css('display', 'block');">
                                    <div id="response">
                                        <div class="tt-dataset tt-dataset-states"></div>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            $('#response').css('display', 'none');
                                        });

                                        $(document).ready(function () {
                                            $("#product_product_brand_id").keyup(function () {
                                                var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                                                $.ajax({
                                                    url: "/product/search-ajax/",
                                                    type: "POST",
                                                    data: {
                                                        'csrfmiddlewaretoken': csrftoken,
                                                        'product-brand-name': $('input[id="product_product_brand_id"]').val(),
                                                    },
                                                    success: function (result) {
                                                        $('#response').html(result);
                                                    }
                                                });
                                            });

                                        });

                                        $(document).mouseup(function (e) {
                                            if (!$('#response').is(e.target) // if the target of the click isn't the container...
                                                && $('#response').has(e.target).length === 0) // ... nor a descendant of the container
                                            {
                                                $('#response').hide();
                                            }
                                        });

                                    </script>

                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn bg-teal-400 ml-sm-2 mb-sm-0">Kaydet</button>
                            <button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /inline form modal -->



    <!-- Pharmacy table -->

    <div class="card">
        <table class="table table-togglable table-hover">
            <thead>
            <tr>
                <th data-hide="phone,tablet">ID</th>
                <th data-hide="phone,tablet">Barkod</th>
                <th data-toggle="true">İsim</th>
                <th data-hide="phone,tablet">Açıklama</th>
                <th data-hide="phone,tablet">Aktif</th>
                <th data-hide="phone,tablet">Ürünün markası</th>
                <th data-hide="phone,tablet" width="147px"><span style="margin-left: 15px;">Değiştir/Sil</span></th>
            </tr>
            </thead>
            <tbody id="product_table">
            {% for product in product_list_search %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.barcode }}</td>
                    <td>{{ product.name }}</td>
                    {% if product.description is None %}
                        <td>Yok</td>
                    {% else %}
                        <td>{{ product.description }}</td>
                    {% endif %}
                    {% if product.active == 1 %}
                        <td>Evet</td>
                    {% elif product.active == 0 %}
                        <td>Hayır</td>
                    {% endif %}
                    <td>{{ product.productbrands.name }}</td>

                    <td>
                        <span>
                            <button type="button" class="btn btn-link" data-toggle="modal"
                                    data-target="#modal_form_vertical_{{ product.id }}"><i
                                    class="fa fa-edit mr-3"></i></button>
                            <button type="button" class="btn btn-link"
                                    onclick="if(confirm('Are you sure you want to delete item?'))
                                            document.getElementById('product-delete-{{ product.id }}').submit(); return false">
                                <i class="fa fa-trash-o" style="color: red;"></i></button>
                            <form action="/product/product-delete/" method="post" id="product-delete-{{ product.id }}">
                                {% csrf_token %}
                                <input name="product-delete" value="{{ product.id }}" style="display: none">
                            </form>
                        </span>
                    </td>

                </tr>


                <!-- Inline form modal -->
                <div id="modal_form_vertical_{{ product.id }}" class="modal fade" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Ürün Bilgileri Değiştir</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <form action="/product/add/" method="post">
                                {% csrf_token %}
                                <input type="text" name="product_id" value="{{ product.id }}"
                                       style="display: none;">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <input type="text" name="product_id" value="{{ product.id }}"
                                                   style="display: none;">
                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">Barkod:</label>
                                                <input type="text" placeholder="Ürünün barkodu giriniz"
                                                       class="form-control"
                                                       name="product_barcode" id="product_barcode"
                                                       value="{{ product.barcode }}" required>
                                                <label class="ml-sm-2">İsim:</label>
                                                <input type="text" placeholder="Ürünün ismini giriniz"
                                                       class="form-control"
                                                       name="product_name" id="product_name"
                                                       value="{{ product.name }}" required>
                                                <label class="ml-sm-2">Açıklama:</label>
                                                <input type="text" placeholder="Ürünün açıklamasını giriniz"
                                                       class="form-control"
                                                       name="product_description" id="product_description"
                                                       value="









                                                               {% if product.description is not None %}{{ product.description }}{% endif %}"
                                                       required>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">Aktif:</label>
                                                {% if product.active == 1 %}
                                                    <input type="text" name="product_active" value="0"
                                                           style="display: none;">
                                                    <div class="form-check form-check-switch form-check-switch-left">
                                                        <label class="form-check-label d-flex align-items-center">
                                                            <input type="checkbox"
                                                                   class="form-check-input form-check-input-switch"
                                                                   data-on-text="Evet" data-off-text="Hayır"
                                                                   data-on-color="success"
                                                                   data-off-color="danger"
                                                                   checked="checked">
                                                        </label>
                                                    </div>
                                                {% else %}
                                                    <input type="text" name="product_active" value="1"
                                                           style="display: none;">
                                                    <div class="form-check form-check-switch form-check-switch-left">
                                                        <label class="form-check-label d-flex align-items-center">
                                                            <input type="checkbox"
                                                                   class="form-check-input form-check-input-switch"
                                                                   data-on-text="Evet" data-off-text="Hayır"
                                                                   data-on-color="success"
                                                                   data-off-color="danger">
                                                        </label>
                                                    </div>
                                                {% endif %}
                                                <label class="ml-sm-1">Ürün markası:</label>
                                                <input type="text" name="response_edit_product_brand_id"
                                                       class="response_edit_product_brand_id"
                                                       value="{{ product.productbrands.id }}"
                                                       style="display: none;">
                                                <input type="text" class="form-control tt-input"
                                                       value="{{ product.productbrands.name }}"
                                                       id="edit_product_product_brand_id_{{ product.id }}"
                                                       name="edit_product_product_brand_id_{{ product.id }}"
                                                       placeholder="Ürün markası" autocomplete="off" spellcheck="false"
                                                       dir="auto"
                                                       style="position: relative; vertical-align: top; background-color: transparent;
                                           top: 0px;"
                                                       onclick="$('#response_edit_{{ product.id }}').css('display', 'block');">
                                                <div id="response_edit_{{ product.id }}">
                                                    <div class="tt-dataset tt-dataset-states"></div>
                                                </div>
                                                <script>
                                                    $(document).ready(function () {
                                                        $('#response_edit_{{ product.id }}').css('display', 'none');
                                                    });

                                                    $(document).ready(function () {
                                                        $("#edit_product_product_brand_id_{{ product.id }}").keyup(function () {
                                                            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                                                            $.ajax({
                                                                url: "/product/search-ajax-edit/",
                                                                type: "POST",
                                                                data: {
                                                                    'csrfmiddlewaretoken': csrftoken,
                                                                    'product': {{ product.id }},
                                                                    'product-brand-name': $('input[id="edit_product_product_brand_id_{{ product.id }}"]').val(),
                                                                },
                                                                success: function (result) {
                                                                    $('#response_edit_{{ product.id }}').html(result);
                                                                }
                                                            });
                                                        });

                                                    });

                                                    $(document).mouseup(function (e) {
                                                        if (!$('#response_edit_{{ product.id }}').is(e.target) // if the target of the click isn't the container...
                                                            && $('#response_edit_{{ product.id }}').has(e.target).length === 0) // ... nor a descendant of the container
                                                        {
                                                            $('#response_edit_{{ product.id }}').hide();
                                                        }
                                                    });

                                                </script>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn bg-teal-400 ml-sm-2 mb-sm-0">Kaydet</button>
                                        <button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /inline form modal -->



            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- /pharmacy table -->


{% endblock %}

{% block product_pagination %}

    <nav>
        <ul class="pagination justify-content-center">
            {% if product_list_search.has_previous %}
                <li class="page-item">
                    <form method="POST" action="/product/search/">
                        {% csrf_token %}
                        <input type="hidden" name="product_search" value="{{ search }}">
                        <input type="hidden" name="page_number" value="{{ product_list_search.previous_page_number }}">
                        <a class="page-link"
                           onclick="$(this).closest('form').submit();">
                            &laquo;
                        </a>
                    </form>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                        &laquo;
                    </a>
                </li>
            {% endif %}

            {% for page in page_range %}
                {% if page == product_list_search.number %}
                    <li class="page-item disabled">
                        <a class="page-link">
                            {{ page }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <form method="POST" action="/product/search/">
                            {% csrf_token %}
                            <input type="hidden" name="product_search" value="{{ search }}">
                            <input type="hidden" name="page_number" value="{{ page }}">
                            <a class="page-link"
                               onclick="$(this).closest('form').submit();">
                                {{ page }}
                            </a>
                        </form>
                    </li>
                {% endif %}
            {% endfor %}

            {% if product_list_search.has_next %}
                <li class="page-item">
                    <form method="POST" action="/product/search/">
                        {% csrf_token %}
                        <input type="hidden" name="product_search" value="{{ search }}">
                        <input type="hidden" name="page_number" value="{{ product_list_search.next_page_number }}">
                        <a class="page-link"
                           onclick="$(this).closest('form').submit();">
                            &raquo;
                        </a>
                    </form>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                        &raquo;
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}