<div class="tt-menu tt-open" style="position: absolute; top: 68%; left: 10px; z-index: 100; display: block; width: inherit">{% for product_brand in product_brands %}
    <div class="tt-suggestion" onclick="$('#product_product_brand_id').val('{{ product_brand.name }}'); $('#response').css('display', 'none'); $('#response_product_brand_id').val('{{ product_brand.id }}');"><strong class="tt-highlight" id="{{ product_brand.id }}">{{ product_brand.name }}</strong></div>{% endfor %}</div>
