{% extends "product_buy_manager.html" %}

{% load staticfiles %}

{% block product_buy_table %}

    <div class="card">
        <div class="card-body">
            <button type="button" class="btn bg-slate-600 btn-group mr-2" data-toggle="modal"
                    data-target="#modal_form_vertical">Ürün Alışı Ekle
            </button>
            <form action="/product-buy/change-show-count/" method="post" class="btn-group mr-2">
                {% csrf_token %}
                <select name="show_by_count" onchange="this.form.submit()"
                        class="form-control select" data-container-css-class="bg-slate-700"
                        data-dropdown-css-class="bg-slate-700" data-placeholder="Show by:"
                        data-fouc>
                    <option style="display: none;"></option>
                    <optgroup label="Show by:">
                        <option value="20" {% if show_product_buy_by|safe == "20" %}selected{% else %}{% endif %}>
                            20
                        </option>
                        <option value="50" {% if show_product_buy_by|safe == "50" %}selected{% else %}{% endif %}>
                            50
                        </option>
                        <option value="100" {% if show_product_buy_by|safe == "100" %}selected{% else %}{% endif %}>
                            100
                        </option>
                        <option value="200" {% if show_product_buy_by|safe == "200" %}{% if default == 0 %}selected
                        {% elif default == 1 %}{% endif %}{% else %}{% endif %}>200
                        </option>
                    </optgroup>
                </select>
            </form>
            <form action="/product-buy/search/" method="post" class="btn-group mr-2">

                {% csrf_token %}
                <input type="text" class="form-control tt-input btn-group mr-2" id="product_buy_search"
                       name="product_buy_search" value="{{ search }}"
                       placeholder="Ürün ara" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;
										   top: 0px;">

                <button class="btn bg-slate-600 btn-group mr-2" type="submit">Ara</button>
            </form>
        </div>
    </div>

    <!-- Inline form modal -->
    <div id="modal_form_vertical" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Yeni Ürün Alışı Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="/product-buy/add/" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="ml-sm-1">Alış Tarihi:</label>
                                    <div class="input-group">
										<span class="input-group-prepend">
											<span class="input-group-text"><i class="icon-calendar3"></i></span>
										</span>
                                        <input type="text" class="form-control pickadate-format"
                                               id="product_buy_buydate" name="product_buy_buydate">
                                    </div>
                                    <label class="ml-sm-1">Açıklama:</label>
                                    <input type="text" placeholder="Açıklama giriniz" class="form-control"
                                           name="product_buy_description" id="product_buy_description" required>
                                    <label class="ml-sm-1">Miktar:</label>
                                    <input type="text" placeholder="Ürünün miktarını giriniz"
                                           class="form-control form-control-lg touchspin-vertical"
                                           name="product_buy_quantity" id="product_buy_quantity" required>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ml-sm-1">Ürün:</label>
                                    <input type="text" name="response_product_id" id="response_product_id"
                                           style="display: none;">
                                    <input type="text" class="form-control tt-input"
                                           id="product_buy_products_id" name="product_buy_products_id"
                                           placeholder="Products" autocomplete="off" spellcheck="false" dir="auto"
                                           style="position: relative; vertical-align: top; background-color: transparent;
                                           top: 0px;" onclick="$('#response').css('display', 'block');">
                                    <div id="response">
                                        <div class="tt-dataset tt-dataset-states"></div>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            $('#response').css('display', 'none');
                                        });

                                        $(document).ready(function () {
                                            $("#product_buy_products_id").keyup(function () {
                                                var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                                                $.ajax({
                                                    url: "/product-buy/search-ajax/",
                                                    type: "POST",
                                                    data: {
                                                        'csrfmiddlewaretoken': csrftoken,
                                                        'product-name': $('input[id="product_buy_products_id"]').val(),
                                                    },
                                                    success: function (result) {
                                                        $('#response').html(result);
                                                    }
                                                });
                                            });

                                        });

                                        $(document).mouseup(function (e) {
                                            if (!$('#response').is(e.target) // if the target of the click isn't the container...
                                                && $('#response').has(e.target).length === 0) // ... nor a descendant of the container
                                            {
                                                $('#response').hide();
                                            }
                                        });

                                    </script>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn bg-teal-400 ml-sm-2 mb-sm-0">Kaydet</button>
                            <button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /inline form modal -->



    <!-- Pharmacy table -->

    <div class="card">
        <table class="table table-togglable table-hover">
            <thead>
            <tr>
                <th data-hide="phone,tablet">ID</th>
                <th data-hide="phone,tablet">Alış Tarihi</th>
                <th data-hide="phone,tablet">Açıklama</th>
                <th data-hide="phone,tablet">Miktar</th>
                <th data-hide="phone,tablet">Oluşturma Tarihi</th>
                <th data-hide="phone,tablet">Güncelleme Tarihi</th>
                <th data-toggle="true">İsim</th>
                <th data-hide="phone,tablet" width="147px"><span style="margin-left: 15px;">Değiştir/Sil</span></th>
            </tr>
            </thead>
            <tbody>
            {% for product_buy in product_buy_list_search %}
                <tr>
                    <td>{{ product_buy.id }}</td>
                    <td>{{ product_buy.buydate|date:"d.m.Y" }}</td>
                    <td>{{ product_buy.description }}</td>
                    <td>{{ product_buy.quantity }}</td>
                    <td>{{ product_buy.cdate|date:"d.m.Y h:i" }}</td>
                    <td>{{ product_buy.udate|date:"d.m.Y h:i" }}</td>
                    <td>{{ product_buy.products.name }}</td>

                    <td>
                        <span>
                            <button type="button" class="btn btn-link" data-toggle="modal"
                                    data-target="#modal_form_vertical_{{ product_buy.id }}"><i
                                    class="fa fa-edit mr-3"></i></button>
                            <button type="button" class="btn btn-link"
                                    onclick="if(confirm('Are you sure you want to delete item?'))
                                            document.getElementById('product-buy-delete-{{ product_buy.id }}').submit(); return false">
                                <i class="fa fa-trash-o" style="color: red;"></i></button>
                            <form action="/product-buy/product-buy-delete/" method="post"
                                  id="product-buy-delete-{{ product_buy.id }}">
                                {% csrf_token %}
                                <input name="product-buy-delete" value="{{ product_buy.id }}" style="display: none">
                            </form>
                        </span>
                    </td>

                </tr>


                <!-- Inline form modal -->
                <div id="modal_form_vertical_{{ product_buy.id }}" class="modal fade" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Ürünün Alış Bilgileri Değiştir</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <form action="/product-buy/add/" method="post">
                                {% csrf_token %}
                                <input type="text" name="product_buy_id" value="{{ product_buy.id }}"
                                       style="display: none;">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="ml-sm-1">Alış Tarihi:</label>
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="icon-calendar3"></i></span>
                                                    </span>
                                                    <input type="text"
                                                           class="form-control pickadate-format product_buy_buydate_{{ product_buy.id }}"
                                                           id="product_buy_buydate" name="product_buy_buydate"
                                                           value="{{ product_buy.buydate|date:"d.m.Y" }}">
                                                    <script>
                                                        $('.product_buy_buydate_{{ product_buy.id }}').pickadate({
                                                            // Escape any “rule” characters with an exclamation mark (!).
                                                            format: 'dd.mm.yyyy',
                                                            formatSubmit: 'yyyy-mm-dd',
                                                            hiddenPrefix: '',
                                                            hiddenSuffix: ''
                                                        })
                                                    </script>
                                                </div>
                                                <label class="ml-sm-1">Açıklama:</label>
                                                <input type="text" placeholder="Açıklama giriniz" class="form-control"
                                                       name="product_buy_description" id="product_buy_description"
                                                       value="{{ product_buy.description }}"
                                                       required>
                                                <label class="ml-sm-1">Miktar:</label>
                                                <input type="text" placeholder="Ürünün miktarını giriniz"
                                                       class="form-control form-control-lg"
                                                       value="{{ product_buy.quantity|safe }}"
                                                       name="product_buy_quantity" id="product_buy_quantity" required>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="ml-sm-1">Ürün:</label>
                                                <input type="text" name="response_edit_product_id"
                                                       class="response_edit_product_id"
                                                       style="display: none;">
                                                <input type="text" class="form-control tt-input"
                                                       value="{{ product_buy.products.name }}"
                                                       id="edit_product_buy_products_id_{{ product_buy.id }}"
                                                       name="edit_product_buy_products_id_{{ product_buy.id }}"
                                                       placeholder="Products" autocomplete="off" spellcheck="false"
                                                       dir="auto"
                                                       style="position: relative; vertical-align: top; background-color: transparent;
                                           top: 0px;"
                                                       onclick="$('#response_edit_{{ product_buy.id }}').css('display', 'block');">
                                                <div id="response_edit_{{ product_buy.id }}">
                                                    <div class="tt-dataset tt-dataset-states"></div>
                                                </div>
                                                <script>
                                                    $(document).ready(function () {
                                                        $('#response_edit_{{ product_buy.id }}').css('display', 'none');
                                                    });

                                                    $(document).ready(function () {
                                                        $("#edit_product_buy_products_id_{{ product_buy.id }}").keyup(function () {
                                                            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                                                            $.ajax({
                                                                url: "/product-buy/search-ajax-edit/",
                                                                type: "POST",
                                                                data: {
                                                                    'csrfmiddlewaretoken': csrftoken,
                                                                    'product-edit': {{ product_buy.id }},
                                                                    'product-name': $('input[id="edit_product_buy_products_id_{{ product_buy.id }}"]').val(),
                                                                },
                                                                success: function (result) {
                                                                    $('#response_edit_{{ product_buy.id }}').html(result);
                                                                }
                                                            });
                                                        });

                                                    });

                                                    $(document).mouseup(function (e) {
                                                        if (!$('#response_edit_{{ product_buy.id }}').is(e.target) // if the target of the click isn't the container...
                                                            && $('#response_edit_{{ product_buy.id }}').has(e.target).length === 0) // ... nor a descendant of the container
                                                        {
                                                            $('#response_edit_{{ product_buy.id }}').hide();
                                                        }
                                                    });

                                                </script>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn bg-teal-400 ml-sm-2 mb-sm-0">Kaydet</button>
                                        <button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /inline form modal -->



            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- /pharmacy table -->

    <script>
        $('.pickadate-format').pickadate({
            // Escape any “rule” characters with an exclamation mark (!).
            format: 'dd.mm.yyyy',
            formatSubmit: 'yyyy-mm-dd',
            hiddenPrefix: '',
            hiddenSuffix: ''
        })
    </script>



{% endblock %}


{% block product_buy_pagination %}

    <nav>
        <ul class="pagination justify-content-center">
            {% if product_buy_list_search.has_previous %}
                <li class="page-item">
                    <form method="POST" action="/product-buy/search/">
                        {% csrf_token %}
                        <input type="hidden" name="product_buy_search" value="{{ search }}">
                        <input type="hidden" name="page_number" value="{{ product_buy_list_search.previous_page_number }}">
                        <a class="page-link"
                           onclick="$(this).closest('form').submit();">
                            &laquo;
                        </a>
                    </form>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                        &laquo;
                    </a>
                </li>
            {% endif %}

            {% for page in page_range %}
                {% if page == product_buy_list_search.number %}
                    <li class="page-item disabled">
                        <a class="page-link">
                            {{ page }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <form method="POST" action="/product-buy/search/">
                            {% csrf_token %}
                            <input type="hidden" name="product_buy_search" value="{{ search }}">
                            <input type="hidden" name="page_number" value="{{ page }}">
                            <a class="page-link"
                               onclick="$(this).closest('form').submit();">
                                {{ page }}
                            </a>
                        </form>
                    </li>
                {% endif %}
            {% endfor %}

            {% if product_buy_list_search.has_next %}
                <li class="page-item">
                    <form method="POST" action="/product-buy/search/">
                        {% csrf_token %}
                        <input type="hidden" name="product_buy_search" value="{{ search }}">
                        <input type="hidden" name="page_number" value="{{ product_buy_list_search.next_page_number }}">
                        <a class="page-link"
                           onclick="$(this).closest('form').submit();">
                            &raquo;
                        </a>
                    </form>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                        &raquo;
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}