<div class="tt-menu tt-open"
     style="position: absolute; top: 38%; left: 10px; z-index: 100; display: block; width: inherit">
    {% for product in products %}
        <div class="tt-suggestion" onclick="$('#edit_product_buy_products_id_{{ product_buys.id }}').val('{{ product.name }}'); $('#response_edit_{{ product_buys.id }}').css('display', 'none'); $('.response_edit_product_id').val('{{ product.id }}');">
            <strong class="tt-highlight" id="{{ product.id }}">{{ product.name }}</strong></div>{% endfor %}</div>
