{% load staticfiles %}

{% block district_table %}

    <div class="card">
        <div class="card-body">
            <button type="button" class="btn bg-slate-600 btn-group mr-2" data-toggle="modal"
                    data-target="#modal_form_vertical">Yeni Semt Ekle
            </button>
            <form action="/district/change-show-count/" method="post" class="btn-group mr-2">
                {% csrf_token %}
                <select name="show_by_count" onchange="this.form.submit()"
                        class="form-control select" data-container-css-class="bg-slate-700"
                        data-dropdown-css-class="bg-slate-700" data-placeholder="Show by:"
                        data-fouc>
                    <option style="display: none;"></option>
                    <optgroup label="Show by:">
                        <option value="20" {% if show_district_by|safe == "20" %}selected{% else %}{% endif %}>
                            20
                        </option>
                        <option value="50" {% if show_district_by|safe == "50" %}selected{% else %}{% endif %}>
                            50
                        </option>
                        <option value="100" {% if show_district_by|safe == "100" %}selected{% else %}{% endif %}>
                            100
                        </option>
                        <option value="200" {% if show_district_by|safe == "200" %}{% if default == 0 %}selected
                        {% elif default == 1 %}{% endif %}{% else %}{% endif %}>200
                        </option>
                    </optgroup>
                </select>
            </form>
        </div>
    </div>

    <!-- Inline form modal -->
    <div id="modal_form_vertical" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Yeni Semt Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="/district/add/" id="district_form" method="post"
                      data-counties-url="{% url 'ajax_load_counties' %}" novalidate>
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">İsim:</label>
                                    <input type="text" placeholder="Semtin ismi giriniz" class="form-control"
                                           name="district_name" id="district_name" required>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">Semtin ilçesi:</label>
                                    <select class="form-control select"
                                            data-container-css-class="bg-slate-700"
                                            data-dropdown-css-class="bg-slate-700"
                                            data-placeholder="Semtin ilçesi"
                                            data-fouc name="county_name"
                                            id="county_name">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">Semtin şehri:</label>
                                    <select class="form-control select"
                                            data-container-css-class="bg-slate-700"
                                            data-dropdown-css-class="bg-slate-700"
                                            data-placeholder="Semtin şehri"
                                            data-fouc name="counties_city_name"
                                            id="counties_city_name">
                                        <option></option>
                                        {% for city in cities %}
                                            <option value="{{ city.id }}">{{ city.city }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <script>
                            $("#counties_city_name").change(function () {
                                var url = $("#district_form").attr("data-counties-url");
                                var cityId = $(this).val();
                                $.ajax({
                                    url: url,
                                    data: {
                                        'counties_city_name': cityId
                                    },
                                    success: function (data) {
                                        $("#county_name").html(data);
                                    }
                                });
                            });
                        </script>

                        <div class="modal-footer">
                            <button type="submit" class="btn bg-teal-400 ml-sm-2 mb-sm-0">Kaydet</button>
                            <button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /inline form modal -->



    <!-- Pharmacy table -->

    <div class="card">
        <table class="table table-togglable table-hover">
            <thead>
            <tr>
                <th data-hide="phone,tablet">ID</th>
                <th data-toggle="true">İsim</th>
                <th data-hide="phone,tablet">İlçe</th>
                <th data-hide="phone,tablet">Şehir</th>
                <th data-hide="phone,tablet"><span style="margin-left: 15px;">Değiştir/Sil</span></th>
            </tr>
            </thead>
            <tbody>
            {% for district in district_list %}
                <tr>
                    <td>{{ district.id }}</td>
                    <td>{{ district.district }}</td>
                    <td>{{ district.counties.county }}</td>
                    <td>{{ district.counties.cities.city }}</td>
                    <td>
                        <span>
                            <button type="button" class="btn btn-link" data-toggle="modal"
                                    data-target="#modal_form_vertical_{{ district.id }}"><i
                                    class="fa fa-edit mr-3"></i></button>
                            <button type="button" class="btn btn-link"
                                    onclick="if(confirm('Are you sure you want to delete item?'))
                                            document.getElementById('district-delete-{{ district.id }}').submit(); return false">
                                <i class="fa fa-trash-o" style="color: red;"></i></button>
                            <form action="/district/district-delete/" method="post"
                                  id="district-delete-{{ district.id }}">
                                {% csrf_token %}
                                <input name="district-delete" value="{{ district.id }}"
                                       style="display: none">
                            </form>
                        </span>
                    </td>
                </tr>


                <!-- Inline form modal -->
                <div id="modal_form_vertical_{{ district.id }}" class="modal fade" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Semt Bilgileri Değiştir</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <form action="/district/add/" id="district_edit_form" method="post"
                                  data-counties-url="{% url 'ajax_load_counties' %}" novalidate>
                                {% csrf_token %}
                                <input type="text" name="district_id" value="{{ district.id }}"
                                       style="display: none;">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <input type="text" name="district_id" value="{{ district.id }}"
                                                   style="display: none;">
                                            <div class="col-sm-6">
                                                <label>İsim</label>
                                                <input type="text" placeholder="Semtin ismi giriniz"
                                                       class="form-control"
                                                       name="district_name" value="{{ district.district }}">
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">Semtin ilçesi:</label>
                                                <select class="form-control select"
                                                        data-container-css-class="bg-slate-700"
                                                        data-dropdown-css-class="bg-slate-700"
                                                        data-placeholder="Semtin ilçesi"
                                                        data-fouc name="county_name"
                                                        id="county_name_edit_{{ district.id }}">
                                                    <option></option>
                                                    {% for county in district.counties.cities.counties_cities_key.all %}
                                                        {% if county.id == district.counties.id %}
                                                            <option value="{{ county.id }}"
                                                                    selected>{{ county.county }}</option>
                                                        {% else %}
                                                            <option value="{{ county.id }}">{{ county.county }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">Semtin şehri:</label>
                                                <select class="form-control select"
                                                        data-container-css-class="bg-slate-700"
                                                        data-dropdown-css-class="bg-slate-700"
                                                        data-placeholder="Semtin şehri"
                                                        data-fouc name="counties_city_name"
                                                        id="counties_city_name_edit_{{ district.id }}">
                                                    <option></option>
                                                    {% for city in cities %}
                                                        {% if city.id == district.counties.cities.id %}
                                                            <option value="{{ city.id }}"
                                                                    selected>{{ city.city }}</option>
                                                        {% else %}
                                                            <option value="{{ city.id }}">{{ city.city }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>

                                        </div>
                                    </div>

                                    <script>
                                        $("#counties_city_name_edit_{{ district.id }}").change(function () {
                                            var url = $("#district_edit_form").attr("data-counties-url");
                                            var cityId = $(this).val();
                                            $.ajax({
                                                url: url,
                                                data: {
                                                    'counties_city_name': cityId
                                                },
                                                success: function (data) {
                                                    $("#county_name_edit_{{ district.id }}").html(data);
                                                }
                                            });
                                        });
                                    </script>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn bg-teal-400 ml-sm-2 mb-sm-0">Kaydet</button>
                                        <button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /inline form modal -->



            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- /pharmacy table -->



{% endblock %}