{% load staticfiles %}
{% block main_navbar %}
    <div class="navbar navbar-lg navbar-expand-md navbar-dark fixed-top">

        <div class="d-xl-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/" class="navbar-nav-link">Homepage</a>
                </li>
                {% if user.username == "boran" %}
                    <li class="nav-item">
                        <a href="/pharmacy/" class="navbar-nav-link">Eczaneler</a>
                    </li>
                    <li class="nav-item dropdown dropdown-user">
                        <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown"
                           aria-expanded="false">
                            <span>Ürünler</span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="/product/" class="dropdown-item">Ürünler Listesi</a>
                            <a href="/product-brands/" class="dropdown-item">Ürün Markaları</a>
                        </div>
                    </li>
{#                    <li class="nav-item dropdown dropdown-user">#}
{#                        <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown"#}
{#                           aria-expanded="false">#}
{#                            <span>Lokasyon</span>#}
{#                        </a>#}
{##}
{#                        <div class="dropdown-menu dropdown-menu-right">#}
{#                            <a href="/city/" class="dropdown-item">Şehirler</a>#}
{#                            <a href="/county/" class="dropdown-item">İlçeler</a>#}
{#                            <a href="/district/" class="dropdown-item">Semtler</a>#}
{#                        </div>#}
{#                    </li>#}
                    <li class="nav-item dropdown dropdown-user">
                        <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown"
                           aria-expanded="false">
                            <span>Kullanıcı</span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="/person/" class="dropdown-item">Kullanıcılar listesi</a>
                            <a href="/user-license/" class="dropdown-item">Kullanıcı Lisansı</a>
                        </div>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a href="/address/" class="navbar-nav-link">Adresler</a>#}
{#                    </li>#}
{#                    <li class="nav-item dropdown dropdown-user">#}
{#                        <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown"#}
{#                           aria-expanded="false">#}
{#                            <span>İletişim</span>#}
{#                        </a>#}
{##}
{#                        <div class="dropdown-menu dropdown-menu-right">#}
{#                            <a href="/contact-info/" class="dropdown-item">İletişim Listesi</a>#}
{#                            <a href="/contact-types/" class="dropdown-item">İletişim Tipleri</a>#}
{#                        </div>#}
{#                    </li>#}

                    <li class="nav-item dropdown dropdown-user">
                        <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown"
                           aria-expanded="false">
                            <span>Alış-Satış</span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="/product-buy/" class="dropdown-item">Ürün Alışları</a>
                            <a href="/product-sale/" class="dropdown-item">Ürün Satışları</a>
                        </div>
                    </li>

                {% endif %}
            </ul>
            <div class="mb-3 mb-xl-0 ml-xl-auto"></div>
            <ul class="navbar-nav">
                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <img src="{% static "global_assets/images/placeholders/placeholder.jpg" %}"
                             class="rounded-circle" alt="">
                        <span>{{ user.username|title }} </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item">
                            <form action="/logout/" method="post">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item"><i class="icon-switch2"></i> Logout</button>
                            </form>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

    </div>

{% endblock %}