{% load staticfiles %}

{% block county_table %}

    <div class="card">
        <div class="card-body">
            <button type="button" class="btn bg-slate-600 btn-group mr-2" data-toggle="modal"
                    data-target="#modal_form_vertical">Yeni İlçe Ekle
            </button>
            <form action="/county/change-show-count/" method="post" class="btn-group mr-2">
                {% csrf_token %}
                <select name="show_by_count" onchange="this.form.submit()"
                        class="form-control select" data-container-css-class="bg-slate-700"
                        data-dropdown-css-class="bg-slate-700" data-placeholder="Show by:"
                        data-fouc>
                    <option style="display: none;"></option>
                    <optgroup label="Show by:">
                        <option value="20" {% if show_county_by|safe == "20" %}selected{% else %}{% endif %}>
                            20
                        </option>
                        <option value="50" {% if show_county_by|safe == "50" %}selected{% else %}{% endif %}>
                            50
                        </option>
                        <option value="100" {% if show_county_by|safe == "100" %}selected{% else %}{% endif %}>
                            100
                        </option>
                        <option value="200" {% if show_county_by|safe == "200" %}{% if default == 0 %}selected
                        {% elif default == 1 %}{% endif %}{% else %}{% endif %}>200
                        </option>
                    </optgroup>
                </select>
            </form>
        </div>
    </div>

    <!-- Inline form modal -->
    <div id="modal_form_vertical" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Yeni İlçe Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="/county/add/" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">İsim:</label>
                                    <input type="text" placeholder="İlçenin ismi giriniz" class="form-control"
                                           name="county_name" id="county_name" required>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">İlçenin ili:</label>
                                    <select class="form-control select"
                                            data-container-css-class="bg-slate-700"
                                            data-dropdown-css-class="bg-slate-700"
                                            data-placeholder="İlçenin ili"
                                            data-fouc name="county_cities"
                                            id="county_cities">
                                        <option></option>
                                        {% for city in cities %}
                                            <option value="{{ city.id }}">{{ city.city }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn bg-teal-400 ml-sm-2 mb-sm-0">Kaydet</button>
                            <button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /inline form modal -->



    <!-- Pharmacy table -->

    <div class="card">
        <table class="table table-togglable table-hover">
            <thead>
            <tr>
                <th data-hide="phone,tablet">ID</th>
                <th data-toggle="true">İsim</th>
                <th data-hide="phone,tablet">İl</th>
                <th data-hide="phone,tablet"><span style="margin-left: 15px;">Değiştir/Sil</span></th>
            </tr>
            </thead>
            <tbody>
            {% for county in county_list %}
                <tr>
                    <td>{{ county.id }}</td>
                    <td>{{ county.county }}</td>
                    <td>{{ county.cities.city }}</td>
                    <td>
                        <span>
                            <button type="button" class="btn btn-link" data-toggle="modal"
                                    data-target="#modal_form_vertical_{{ county.id }}"><i
                                    class="fa fa-edit mr-3"></i></button>
                            <button type="button" class="btn btn-link"
                                    onclick="if(confirm('Are you sure you want to delete item?'))
                                            document.getElementById('county-delete-{{ county.id }}').submit(); return false">
                                <i class="fa fa-trash-o" style="color: red;"></i></button>
                            <form action="/county/county-delete/" method="post"
                                  id="county-delete-{{ county.id }}">
                                {% csrf_token %}
                                <input name="county-delete" value="{{ county.id }}"
                                       style="display: none">
                            </form>
                        </span>
                    </td>
                </tr>


                <!-- Inline form modal -->
                <div id="modal_form_vertical_{{ county.id }}" class="modal fade" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">İlçe Bilgileri Değiştir</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <form action="/county/add/" method="post">
                                {% csrf_token %}
                                <input type="text" name="county_id" value="{{ county.id }}"
                                       style="display: none;">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <input type="text" name="county_id" value="{{ county.id }}"
                                                   style="display: none;">
                                            <div class="col-sm-6">
                                                <label>İsim</label>
                                                <input type="text" placeholder="İlçenin ismi giriniz"
                                                       class="form-control"
                                                       name="county_name" value="{{ county.county }}">
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">İlçenin ili:</label>
                                                <select class="form-control select"
                                                        data-container-css-class="bg-slate-700"
                                                        data-dropdown-css-class="bg-slate-700"
                                                        data-placeholder="İlçenin ili"
                                                        data-fouc name="county_cities"
                                                        id="county_cities">
                                                    <option></option>
                                                    {% for city in cities %}
                                                        {% if city.id == county.cities.id %}
                                                            <option value="{{ city.id }}"
                                                                    selected>{{ city.city }}</option>
                                                        {% else %}
                                                            <option value="{{ city.id }}">{{ city.city }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-primary border-transparent" data-dismiss="modal">Kapat</button>
                                        <button type="submit" class="btn bg-slate-600 ml-sm-2 mb-sm-0">Kaydet</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /inline form modal -->



            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- /pharmacy table -->



{% endblock %}