{% load staticfiles %}
<div class="form-group" id="contact_modal_{{ contact.id }}">
    <div class="card">
        <div class="card-body">
            <input type="text" name="contact_id_{{ contact.id }}"
                   value="{{ contact.id }}" style="display: none">
            <div class="form-group row">
                <label class="col-lg-3 col-form-label">İletişim tipi:</label>
                <div class="col-lg-9 col-form-label">
                    <select class="form-control select"
                            data-container-css-class="bg-slate-700"
                            data-dropdown-css-class="bg-slate-700"
                            data-placeholder="İletişim Tipi Seçiniz"
                            name="contact_contacttypes"
                            id="contact_contacttypes">
                        <option></option>
                        {% for contact_type in contact_types %}
                            {% if contact_type.id == contact.contacttypes.id %}
                                <option value="{{ contact_type.id }}"
                                        selected>{{ contact_type.name }}</option>
                            {% else %}
                                <option value="{{ contact_type.id }}">{{ contact_type.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label">İletişim Bilgisi:</label>
                <div class="col-lg-9 col-form-label">
                    <input type="text" placeholder="İletişim bilgisi giriniz"
                           class="form-control" value="{{ contact.text }}"
                           name="contact_text" id="contact_text" required>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <span class="text-muted">En son güncelleme: {{ contact.udate|date:"d.m.Y H:i" }}</span>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" id="edit-contact-button"
                class="btn btn-primary ml-sm-2 mb-sm-0"><i
                class="icon-floppy-disk mr-2"></i>Kaydet
        </button>
        <button type="button" class="btn bg-light"
                id="close-contact-edit-button-{{ person.id }}">Kapat
        </button>
        <script>
            $('#close-contact-edit-button-{{ person.id }}').click(function () {
                var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                var contact_id = $("[name=contact_id_{{ contact.id }}]").val();
                $.ajax
                ({
                    url: '/person/contact/cancel/',
                    data: {
                        'csrfmiddlewaretoken': csrftoken,
                        'contact_id': contact_id,
                    },
                    type: 'post',
                    success: function (result) {
                        $("#contact_modal_{{ contact.id }}").html(result);
                    }
                });
            });
        </script>
    </div>
</div>