{% load staticfiles %}

{% block person_table %}

    <div class="card">
        <div class="card-body">
            <button type="button" class="btn bg-slate-600 btn-group mr-2" data-toggle="modal"
                    data-target="#modal_form_vertical">Kullanıcı Ekle
            </button>
            <form action="/person/change-show-count/" method="post" class="btn-group mr-2">
                {% csrf_token %}
                <select name="show_by_count" onchange="this.form.submit()"
                        class="form-control select" data-container-css-class="bg-slate-700"
                        data-dropdown-css-class="bg-slate-700" data-placeholder="Show by:"
                        data-fouc>
                    <option style="display: none;"></option>
                    <optgroup label="Show by:">
                        <option value="20" {% if show_person_by|safe == "20" %}selected{% else %}{% endif %}>
                            20
                        </option>
                        <option value="50" {% if show_person_by|safe == "50" %}selected{% else %}{% endif %}>
                            50
                        </option>
                        <option value="100" {% if show_person_by|safe == "100" %}selected{% else %}{% endif %}>
                            100
                        </option>
                        <option value="200" {% if show_person_by|safe == "200" %}{% if default == 0 %}selected
                        {% elif default == 1 %}{% endif %}{% else %}{% endif %}>200
                        </option>
                    </optgroup>
                </select>
            </form>
            <form action="/person/search/" method="post" class="btn-group mr-2">

                {% csrf_token %}
                <input type="text" class="form-control tt-input btn-group mr-2" id="person_search"
                       name="person_search"
                       placeholder="Kullanıcı ara" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;
										   top: 0px;">

                <button class="btn bg-slate-600 btn-group mr-2" type="submit">Ara</button>
            </form>
        </div>
    </div>

    <!-- Inline form modal -->
    <div id="modal_form_vertical" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Yeni Kullanıcı Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="/person/add/" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">İsim:</label>
                                    <input type="text" placeholder="İsim giriniz" class="form-control"
                                           name="person_name" id="person_name" required>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">Soyisim:</label>
                                    <input type="text" placeholder="Soyisim giriniz" class="form-control"
                                           name="person_surname" id="person_surname" required>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">Kullanıcı adı:</label>
                                    <input type="text" placeholder="Kullanıcı adı giriniz" class="form-control"
                                           name="person_username" id="person_username" required>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">Cinsiyet:</label>
                                    <select class="form-control select"
                                            data-container-css-class="bg-slate-700"
                                            data-dropdown-css-class="bg-slate-700"
                                            data-placeholder="Kullanıcı cinsiyeti"
                                            data-fouc name="person_gender"
                                            id="person_gender">
                                        <option></option>
                                        <option value="F">Kadın</option>
                                        <option value="M">Erkek</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">Şifre:</label>
                                    <input type="text" placeholder="Şifre giriniz" class="form-control"
                                           name="person_password" id="person_password" required>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">Kullanıcı tipi:</label>
                                    <select class="form-control select"
                                            data-container-css-class="bg-slate-700"
                                            data-dropdown-css-class="bg-slate-700"
                                            data-placeholder="Kullanıcı tipi"
                                            data-fouc name="person_admin"
                                            id="person_admin">
                                        <option></option>
                                        <option value="1">Admin</option>
                                        <option value="0">Kullanıcı</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">Aktif:</label>
                                    <div class="form-check form-check-switch form-check-switch-left">
                                        <label class="form-check-label d-flex align-items-center">
                                            <input type="checkbox" id="person_active" name="person_active"
                                                   class="form-check-input form-check-input-switch"
                                                   data-on-text="Evet" data-off-text="Hayır"
                                                   data-on-color="success"
                                                   data-off-color="danger">
                                        </label>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn bg-teal-400 ml-sm-2 mb-sm-0">Kaydet</button>
                            <button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /inline form modal -->


    <!-- Pharmacy table -->

    <div class="card">
        <table class="table table-togglable table-hover">
            <thead>
            <tr>
                <th data-hide="phone,tablet">ID</th>
                <th data-toggle="true">İsim</th>
                <th data-hide="phone,tablet">Soyisim</th>
                <th data-hide="phone,tablet">Kullanıcı adı</th>
                <th data-hide="phone,tablet">Cinsiyet</th>
                <th data-hide="phone,tablet">Kullanıcı tipi</th>
                <th data-hide="phone,tablet">Aktif</th>
                <th data-hide="phone,tablet">Oluşturma Tarihi</th>
                <th data-hide="phone,tablet">Güncelleme Tarihi</th>
                <th data-hide="phone,tablet"><span style="margin-left: 15px;">Adres</span></th>
                <th data-hide="phone,tablet"><span style="margin-left: 15px;">İletişim</span></th>
                <th data-hide="phone,tablet" width="147px"><span style="margin-left: 15px;">Değiştir/Sil</span></th>
            </tr>
            </thead>
            <tbody>
            {% for person in persons_list %}
                <tr>
                    <td>{{ person.id }}</td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.surname }}</td>
                    <td>{{ person.username }}</td>
                    <td>{% if person.gender == "M" %}Erkek{% elif person.gender == "F" %}Kadın{% endif %}</td>
                    <td>{% if person.admin == 1 %}Admin{% elif person.admin == 0 %}Kullanıcı{% endif %}</td>
                    <td>{% if person.active == 1 %}Evet{% elif person.active == 0 %}Hayır{% endif %}</td>
                    <td>{{ person.cdate|date:"d.m.Y H:i" }}</td>
                    <td>{{ person.udate|date:"d.m.Y H:i" }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary border-transparent" data-toggle="modal"
                                data-target="#address_details_{{ person.id }}">Detaylar
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-primary border-transparent" data-toggle="modal"
                                data-target="#contactinfo_details_{{ person.id }}">Detaylar
                        </button>
                    </td>
                    <td>
                        <span>
                            <button type="button" class="btn btn-link" data-toggle="modal"
                                    data-target="#modal_form_vertical_{{ person.id }}"><i
                                    class="fa fa-edit mr-3"></i></button>
                            <button type="button" class="btn btn-link"
                                    onclick="if(confirm('Are you sure you want to delete item?'))
                                            document.getElementById('person-delete-{{ person.id }}').submit(); return false">
                                <i class="fa fa-trash-o" style="color: red;"></i></button>
                            <form action="/person/person-delete/" method="post"
                                  id="person-delete-{{ person.id }}">
                                {% csrf_token %}
                                <input name="person-delete" value="{{ person.id }}"
                                       style="display: none">
                            </form>
                        </span>
                    </td>
                </tr>


                <!-- Inline form modal -->
                <div id="modal_form_vertical_{{ person.id }}" class="modal fade" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Kullanıcı Bilgileri Değiştir</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <form action="/person/add/" method="post">
                                {% csrf_token %}
                                <input type="text" name="person_id" value="{{ person.id }}" style="display: none;">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <input type="text" name="person_id" value="{{ person.id }}"
                                                   style="display: none;">
                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">İsim:</label>
                                                <input type="text" placeholder="İsim giriniz"
                                                       class="form-control" value="{{ person.name }}"
                                                       name="person_name" id="person_name" required>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">Soyisim:</label>
                                                <input type="text" placeholder="Soyisim giriniz"
                                                       class="form-control" value="{{ person.surname }}"
                                                       name="person_surname" id="person_surname" required>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">Kullanıcı adı:</label>
                                                <input type="text" placeholder="Kullanıcı adi giriniz"
                                                       class="form-control" value="{{ person.username }}"
                                                       name="person_username" id="person_username" required>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">Cinsiyet:</label>
                                                <select class="form-control select"
                                                        data-container-css-class="bg-slate-700"
                                                        data-dropdown-css-class="bg-slate-700"
                                                        data-placeholder="Kullanıcı cinsiyeti"
                                                        data-fouc name="person_gender"
                                                        id="person_gender">
                                                    <option></option>
                                                    {% if person.gender == "F" %}
                                                        <option value="F" selected>Kadın</option>
                                                    {% else %}
                                                        <option value="F">Kadın</option>
                                                    {% endif %}
                                                    {% if person.gender == "M" %}
                                                        <option value="M" selected>Erkek</option>
                                                    {% else %}
                                                        <option value="M">Erkek</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">Şifre:</label>
                                                <input type="text" placeholder="Şifre giriniz"
                                                       class="form-control"
                                                       name="person_password" id="person_password" required>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">Kullanıcı tipi:</label>
                                                <select class="form-control select"
                                                        data-container-css-class="bg-slate-700"
                                                        data-dropdown-css-class="bg-slate-700"
                                                        data-placeholder="Kullanıcı tipi"
                                                        data-fouc name="person_admin"
                                                        id="person_admin">
                                                    <option></option>
                                                    {% if person.admin == 1 %}
                                                        <option value="1" selected>Admin</option>
                                                    {% else %}
                                                        <option value="1">Admin</option>
                                                    {% endif %}
                                                    {% if person.admin == 0 %}
                                                        <option value="0" selected>Kullanıcı</option>
                                                    {% else %}
                                                        <option value="0">Kullanıcı</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">Aktif:</label>
                                                {% if person.active == 1 %}
                                                    <input type="text" name="person_active" value="0"
                                                           style="display: none;">
                                                    <div class="form-check form-check-switch form-check-switch-left">
                                                        <label class="form-check-label d-flex align-items-center">
                                                            <input type="checkbox"
                                                                   class="form-check-input form-check-input-switch"
                                                                   data-on-text="Evet" data-off-text="Hayır"
                                                                   data-on-color="success"
                                                                   data-off-color="danger"
                                                                   checked="checked">
                                                        </label>
                                                    </div>
                                                {% else %}
                                                    <input type="text" name="person_active" value="1"
                                                           style="display: none;">
                                                    <div class="form-check form-check-switch form-check-switch-left">
                                                        <label class="form-check-label d-flex align-items-center">
                                                            <input type="checkbox"
                                                                   class="form-check-input form-check-input-switch"
                                                                   data-on-text="Evet" data-off-text="Hayır"
                                                                   data-on-color="success"
                                                                   data-off-color="danger">
                                                        </label>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn bg-teal-400 ml-sm-2 mb-sm-0">Kaydet</button>
                                        <button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /inline form modal -->

            {% endfor %}
            </tbody>
        </table>


        {% for person in persons_list %}
            <!-- Inline form modal -->
            <div id="contactinfo_details_{{ person.id }}" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Kullanıcı İletişim Bilgileri</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="card-body">
                            </div>
                            <!-- /inline form modal -->
                            {% for contact in persons_has_contact %}
                                {% if contact.persons_id == person.id %}
                                    <div class="form-group" id="contact_modal_{{ contact.contactinfos.id }}">

                                        <div class="card">
                                            <div class="card-body">
                                                <input type="text" name="contact_id_{{ contact.contactinfos.id }}"
                                                       value="{{ contact.contactinfos.id }}" style="display: none">
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label">İletişim tipi:</label>
                                                    <div class="col-lg-9 col-form-label">
                                                        <p>{{ contact.contactinfos.contacttypes.name }}</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label">İletişim Bilgisi:</label>
                                                    <div class="col-lg-9 col-form-label">
                                                        {{ contact.contactinfos.text }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer d-flex justify-content-between">
                                                <span class="text-muted">En son güncelleme: {{ contact.contactinfos.udate|date:"d.m.Y H:i" }}</span>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" id="edit-contact-button-{{ contact.contactinfos.id }}"
                                                    class="btn bg-teal-400 ml-sm-2 mb-sm-0"><i
                                                    class="icon-pencil mr-2"></i>Değiştir
                                            </button>
                                            <script>
                                                $('#edit-contact-button-{{ contact.contactinfos.id }}').click(function () {
                                                    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                                                    var contact_id = $("[name=contact_id_{{ contact.contactinfos.id }}]").val();
                                                    $.ajax
                                                    ({
                                                        url: '/person/contact/edit/',
                                                        data: {
                                                            'csrfmiddlewaretoken': csrftoken,
                                                            'contact_id': contact_id,
                                                        },
                                                        type: 'post',
                                                        success: function (result) {
                                                            $("#contact_modal_{{ contact.contactinfos.id }}").html(result);
                                                        }
                                                    });
                                                });
                                            </script>
                                            <button type="button" class="btn bg-light" data-dismiss="modal">Kapat
                                            </button>
                                        </div>

                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /inline form modal -->
        {% endfor %}



        {% for person in persons_list %}
            <!-- Inline form modal -->
            <div id="address_details_{{ person.id }}" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Kullanıcı Adres Bilgileri</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="card-body">
                            </div>
                            <!-- /inline form modal -->
                            <div class="form-group" id="address_modal_{{ person.id }}">
                                {% for address in persons_has_address %}
                                    {% if address.persons_id == person.id %}
                                        <div class="card" id="card-wrapper">

                                            <div class="card-body ml-lg-3 mt-lg-2 mb-lg-2">
                                                <input type="text" name="address_id_{{ address.addresses.id }}"
                                                       value="{{ address.addresses.id }}" style="display: none">
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label">Adres:</label>
                                                    <div class="col-lg-9 col-form-label">
                                                        <p>{{ address.addresses.description }}</p>
                                                    </div>
                                                    <label class="col-lg-3 col-form-label"></label>
                                                    <div class="col-lg-9 col-form-label">
                                                        <p>{{ address.addresses.otheraddrinfo }}</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label">Semt:</label>
                                                    <div class="col-lg-9 col-form-label">
                                                        <p>{{ address.addresses.districts }}</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label">İlçe:</label>
                                                    <div class="col-lg-9 col-form-label">
                                                        <p>{{ address.addresses.districts.counties.county }}</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label">Şehir:</label>
                                                    <div class="col-lg-9 col-form-label">
                                                        <p>{{ address.addresses.districts.counties.cities.city }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer d-flex justify-content-between">
                                                <span class="text-muted">En son güncelleme: {{ address.addresses.udate|date:"d.m.Y H:i" }}</span>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" id="edit-address-button-{{ person.id }}"
                                                    class="btn bg-teal-400 ml-sm-2 mb-sm-0"><i
                                                    class="icon-pencil mr-2"></i>Değiştir
                                            </button>
                                            <script>
                                                $('#edit-address-button-{{ person.id }}').click(function () {
                                                    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                                                    var address_id = $("[name=address_id_{{ address.addresses.id }}]").val();
                                                    $.ajax
                                                    ({
                                                        url: '/person/address/edit/',
                                                        data: {
                                                            'csrfmiddlewaretoken': csrftoken,
                                                            'address_id': address_id,
                                                        },
                                                        type: 'post',
                                                        success: function (result) {
                                                            $("#address_modal_{{ person.id }}").html(result);
                                                        }
                                                    });
                                                });
                                            </script>
                                            <button type="button" class="btn bg-light" data-dismiss="modal">Kapat
                                            </button>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /inline form modal -->
        {% endfor %}

    </div>

    <!-- /pharmacy table -->


{% endblock %}