<div class="form-group" id="contact_modal_{{ contact.id }}">
    <div class="card">
        <div class="card-body">
            <input type="text" name="contact_id_{{ contact.id }}"
                   value="{{ contact.id }}" style="display: none">
            <div class="form-group row">
                <label class="col-lg-3 col-form-label">İletişim tipi:</label>
                <div class="col-lg-9 col-form-label">
                    <p>{{ contact.contacttypes.name }}</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label">İletişim Bilgisi:</label>
                <div class="col-lg-9 col-form-label">
                    {{ contact.text }}
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <span class="text-muted">En son güncelleme: {{ contact.udate|date:"d.m.Y H:i" }}</span>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" id="edit-contact-button-{{ contact.id }}"
                class="btn bg-teal-400 ml-sm-2 mb-sm-0"><i
                class="icon-pencil mr-2"></i>Değiştir
        </button>
        <script>
            $('#edit-contact-button-{{ contact.id }}').click(function () {
                var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                var contact_id = $("[name=contact_id_{{ contact.id }}]").val();
                $.ajax
                ({
                    url: '/person/contact/edit/',
                    data: {
                        'csrfmiddlewaretoken': csrftoken,
                        'contact_id': contact_id,
                    },
                    type: 'post',
                    success: function (result) {
                        $("#contact_modal_{{ contact.id }}").html(result);
                    }
                });
            });
        </script>
        <button type="button" class="btn bg-light" data-dismiss="modal">Kapat
        </button>
    </div>
</div>