{% extends "persons_manager.html" %}

{% load staticfiles %}

{% block person_table %}

    <div class="card">
        <div class="card-body">
            <button type="button" class="btn bg-slate-600 btn-group mr-2" data-toggle="modal"
                    data-target="#modal_form_vertical">Kullanıcı Ekle
            </button>
            <form action="/person/change-show-count/" method="post" class="btn-group mr-2">
                {% csrf_token %}
                <select name="show_by_count" onchange="this.form.submit()"
                        class="form-control select" data-container-css-class="bg-slate-700"
                        data-dropdown-css-class="bg-slate-700" data-placeholder="Show by:"
                        data-fouc>
                    <option style="display: none;"></option>
                    <optgroup label="Show by:">
                        <option value="20" {% if show_person_by|safe == "20" %}selected{% else %}{% endif %}>
                            20
                        </option>
                        <option value="50" {% if show_person_by|safe == "50" %}selected{% else %}{% endif %}>
                            50
                        </option>
                        <option value="100" {% if show_person_by|safe == "100" %}selected{% else %}{% endif %}>
                            100
                        </option>
                        <option value="200" {% if show_person_by|safe == "200" %}{% if default == 0 %}selected
                        {% elif default == 1 %}{% endif %}{% else %}{% endif %}>200
                        </option>
                    </optgroup>
                </select>
            </form>
            <form action="/person/search/" method="post" class="btn-group mr-2">

                {% csrf_token %}
                <input type="text" class="form-control tt-input btn-group mr-2" id="person_search"
                       name="person_search" value="{{ search }}"
                       placeholder="Kullanıcı ara" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;
										   top: 0px;">

                <button class="btn bg-slate-600 btn-group mr-2" type="submit">Ara</button>
            </form>
        </div>
    </div>

    <!-- Inline form modal -->
    <div id="modal_form_vertical" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Yeni Kullanıcı Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="/person/add/" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">İsim:</label>
                                    <input type="text" placeholder="İsim giriniz" class="form-control"
                                           name="person_name" id="person_name" required>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">Soyisim:</label>
                                    <input type="text" placeholder="Soyisim giriniz" class="form-control"
                                           name="person_surname" id="person_surname" required>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">Kullanıcı adı:</label>
                                    <input type="text" placeholder="Kullanıcı adı giriniz" class="form-control"
                                           name="person_username" id="person_username" required>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">Cinsiyet:</label>
                                    <select class="form-control select"
                                            data-container-css-class="bg-slate-700"
                                            data-dropdown-css-class="bg-slate-700"
                                            data-placeholder="Kullanıcı cinsiyeti"
                                            data-fouc name="person_gender"
                                            id="person_gender">
                                        <option></option>
                                        <option value="F">Kadın</option>
                                        <option value="M">Erkek</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">Şifre:</label>
                                    <input type="text" placeholder="Şifre giriniz" class="form-control"
                                           name="person_password" id="person_password" required>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">Kullanıcı tipi:</label>
                                    <select class="form-control select"
                                            data-container-css-class="bg-slate-700"
                                            data-dropdown-css-class="bg-slate-700"
                                            data-placeholder="Kullanıcı tipi"
                                            data-fouc name="person_admin"
                                            id="person_admin">
                                        <option></option>
                                        <option value="1">Admin</option>
                                        <option value="0">Kullanıcı</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">Aktif:</label>
                                    <div class="form-check form-check-switch form-check-switch-left">
                                        <label class="form-check-label d-flex align-items-center">
                                            <input type="checkbox" id="person_active" name="person_active"
                                                   class="form-check-input form-check-input-switch"
                                                   data-on-text="Evet" data-off-text="Hayır"
                                                   data-on-color="success"
                                                   data-off-color="danger">
                                        </label>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn bg-teal-400 ml-sm-2 mb-sm-0">Kaydet</button>
                            <button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /inline form modal -->


    <!-- Pharmacy table -->

    <div class="card">
        <table class="table table-togglable table-hover">
            <thead>
            <tr>
                <th data-hide="phone,tablet">ID</th>
                <th data-toggle="true">İsim</th>
                <th data-hide="phone,tablet">Soyisim</th>
                <th data-hide="phone,tablet">Kullanıcı adı</th>
                <th data-hide="phone,tablet">Cinsiyet</th>
                <th data-hide="phone,tablet">Kullanıcı tipi</th>
                <th data-hide="phone,tablet">Aktif</th>
                <th data-hide="phone,tablet">Oluşturma Tarihi</th>
                <th data-hide="phone,tablet">Güncelleme Tarihi</th>
                <th data-hide="phone,tablet"><span style="margin-left: 15px;">Adres</span></th>
                <th data-hide="phone,tablet"><span style="margin-left: 15px;">İletişim</span></th>
                <th data-hide="phone,tablet" width="147px"><span style="margin-left: 15px;">Değiştir/Sil</span></th>
            </tr>
            </thead>
            <tbody>
            {% for person in person_list_search %}
                <tr>
                    <td>{{ person.id }}</td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.surname }}</td>
                    <td>{{ person.username }}</td>
                    <td>{% if person.gender == "M" %}Erkek{% elif person.gender == "F" %}Kadın{% endif %}</td>
                    <td>{% if person.admin == 1 %}Admin{% elif person.admin == 0 %}Kullanıcı{% endif %}</td>
                    <td>{% if person.active == 1 %}Evet{% elif person.active == 0 %}Hayır{% endif %}</td>
                    <td>{{ person.cdate }}</td>
                    <td>{{ person.udate }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary border-transparent" data-toggle="modal"
                                data-target="#address_details_{{ person.id }}">Detaylar
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-primary border-transparent" data-toggle="modal"
                                data-target="#contactinfo_details_{{ person.id }}">Detaylar
                        </button>
                    </td>
                    <td>
                        <span>
                            <button type="button" class="btn btn-link" data-toggle="modal"
                                    data-target="#modal_form_vertical_{{ person.id }}"><i
                                    class="fa fa-edit mr-3"></i></button>
                            <button type="button" class="btn btn-link"
                                    onclick="if(confirm('Are you sure you want to delete item?'))
                                            document.getElementById('person-delete-{{ person.id }}').submit(); return false">
                                <i class="fa fa-trash-o" style="color: red;"></i></button>
                            <form action="/person/person-delete/" method="post"
                                  id="person-delete-{{ person.id }}">
                                {% csrf_token %}
                                <input name="person-delete" value="{{ person.id }}"
                                       style="display: none">
                            </form>
                        </span>
                    </td>
                </tr>


                <!-- Inline form modal -->
                <div id="modal_form_vertical_{{ person.id }}" class="modal fade" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Kullanıcı Bilgileri Değiştir</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <form action="/person/add/" method="post">
                                {% csrf_token %}
                                <input type="text" name="person_id" value="{{ person.id }}" style="display: none;">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <input type="text" name="person_id" value="{{ person.id }}"
                                                   style="display: none;">
                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">İsim:</label>
                                                <input type="text" placeholder="İsim giriniz"
                                                       class="form-control" value="{{ person.name }}"
                                                       name="person_name" id="person_name" required>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">Soyisim:</label>
                                                <input type="text" placeholder="Soyisim giriniz"
                                                       class="form-control" value="{{ person.surname }}"
                                                       name="person_surname" id="person_surname" required>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">Kullanıcı adı:</label>
                                                <input type="text" placeholder="Kullanıcı adi giriniz"
                                                       class="form-control" value="{{ person.username }}"
                                                       name="person_username" id="person_username" required>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">Cinsiyet:</label>
                                                <select class="form-control select"
                                                        data-container-css-class="bg-slate-700"
                                                        data-dropdown-css-class="bg-slate-700"
                                                        data-placeholder="Kullanıcı cinsiyeti"
                                                        data-fouc name="person_gender"
                                                        id="person_gender">
                                                    <option></option>
                                                    {% if person.gender == "F" %}
                                                        <option value="F" selected>Kadın</option>
                                                    {% else %}
                                                        <option value="F">Kadın</option>
                                                    {% endif %}
                                                    {% if person.gender == "M" %}
                                                        <option value="M" selected>Erkek</option>
                                                    {% else %}
                                                        <option value="M">Erkek</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">Şifre:</label>
                                                <input type="text" placeholder="Şifre giriniz"
                                                       class="form-control"
                                                       name="person_password" id="person_password" required>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">Kullanıcı tipi:</label>
                                                <select class="form-control select"
                                                        data-container-css-class="bg-slate-700"
                                                        data-dropdown-css-class="bg-slate-700"
                                                        data-placeholder="Kullanıcı tipi"
                                                        data-fouc name="person_admin"
                                                        id="person_admin">
                                                    <option></option>
                                                    {% if person.admin == 1 %}
                                                        <option value="1" selected>Admin</option>
                                                    {% else %}
                                                        <option value="1">Admin</option>
                                                    {% endif %}
                                                    {% if person.admin == 0 %}
                                                        <option value="0" selected>Kullanıcı</option>
                                                    {% else %}
                                                        <option value="0">Kullanıcı</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">Aktif:</label>
                                                {% if person.active == 1 %}
                                                    <input type="text" name="person_active" value="0"
                                                           style="display: none;">
                                                    <div class="form-check form-check-switch form-check-switch-left">
                                                        <label class="form-check-label d-flex align-items-center">
                                                            <input type="checkbox"
                                                                   class="form-check-input form-check-input-switch"
                                                                   data-on-text="Evet" data-off-text="Hayır"
                                                                   data-on-color="success"
                                                                   data-off-color="danger"
                                                                   checked="checked">
                                                        </label>
                                                    </div>
                                                {% else %}
                                                    <input type="text" name="person_active" value="1"
                                                           style="display: none;">
                                                    <div class="form-check form-check-switch form-check-switch-left">
                                                        <label class="form-check-label d-flex align-items-center">
                                                            <input type="checkbox"
                                                                   class="form-check-input form-check-input-switch"
                                                                   data-on-text="Evet" data-off-text="Hayır"
                                                                   data-on-color="success"
                                                                   data-off-color="danger">
                                                        </label>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn bg-teal-400 ml-sm-2 mb-sm-0">Kaydet</button>
                                        <button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /inline form modal -->

            {% endfor %}
            </tbody>
        </table>


        {% for person in person_list_search %}
            <!-- Inline form modal -->
            <div id="contactinfo_details_{{ person.id }}" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Kullanıcı İletişim Bilgileri</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="card-body">
                            </div>
                            <!-- /inline form modal -->
                            <div class="form-group">
                                <div class="card">
                                    <table class="table table-togglable table-hover">
                                        <thead>
                                        <tr>
                                            <th data-toggle="true">Text</th>
                                            <th data-hide="phone,tablet">İletişim Tipi</th>
                                            <th data-hide="phone,tablet">Aktif</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for contact in persons_has_contact %}
                                            {% if contact.persons_id == person.id %}
                                                <tr>
                                                    <td>{{ contact.contactinfos.text }}</td>
                                                    <td>{{ contact.contactinfos.contacttypes.name }}</td>
                                                    <td>{% if contact.contactinfos.active == 1 %}
                                                        Evet{% elif contact.contactinfos.active == 0 %}
                                                        Hayır{% endif %}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /inline form modal -->
        {% endfor %}



        {% for person in person_list_search %}
            <!-- Inline form modal -->
            <div id="address_details_{{ person.id }}" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Kullanıcı Adres Bilgileri</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="card-body">
                            </div>
                            <!-- /inline form modal -->
                            <div class="form-group">
                                <div class="card">
                                    <table class="table table-togglable table-hover">
                                        <thead>
                                        <tr>
                                            <th data-hide="phone,tablet">ID</th>
                                            <th data-toggle="true">Adres 1</th>
                                            <th data-hide="phone,table">Adres 2</th>
                                            <th data-hide="phone,tablet">Aktif</th>
                                            <th data-hide="phone,tablet">Oluşturma Tarihi</th>
                                            <th data-hide="phone,tablet">Güncelleme Tarihi</th>
                                            <th data-hide="phone,tablet">Şehir</th>
                                            <th data-hide="phone,tablet">İlçe</th>
                                            <th data-hide="phone,tablet">Semt</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for address in persons_has_address %}
                                            {% if address.persons_id == person.id %}
                                                <tr>
                                                    <td>{{ address.addresses.id }}</td>
                                                    <td>{{ address.addresses.description }}</td>
                                                    <td>{{ address.addresses.otheraddrinfo }}</td>
                                                    <td>{% if address.addresses.active == 1 %}
                                                        Evet{% elif address.addresses.active == 0 %}
                                                        Hayır{% endif %}</td>
                                                    <td>{{ address.addresses.cdate }}</td>
                                                    <td>{{ address.addresses.udate }}</td>
                                                    <td>{{ address.addresses.districts.counties.cities.city }}</td>
                                                    <td>{{ address.addresses.districts.counties.county }}</td>
                                                    <td>{{ address.addresses.districts }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /inline form modal -->
        {% endfor %}

    </div>

    <!-- /pharmacy table -->


{% endblock %}

{% block person_pagination %}

    <nav>
        <ul class="pagination justify-content-center">
            {% if person_list_search.has_previous %}
                <li class="page-item">
                    <form method="POST" action="/person/search/">
                        {% csrf_token %}
                        <input type="hidden" name="person_search" value="{{ search }}">
                        <input type="hidden" name="page_number" value="{{ person_list_search.previous_page_number }}">
                        <a class="page-link"
                           onclick="$(this).closest('form').submit();">
                            &laquo;
                        </a>
                    </form>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                        &laquo;
                    </a>
                </li>
            {% endif %}

            {% for page in page_range %}
                {% if page == person_list_search.number %}
                    <li class="page-item disabled">
                        <a class="page-link">
                            {{ page }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <form method="POST" action="/person/search/">
                            {% csrf_token %}
                            <input type="hidden" name="person_search" value="{{ search }}">
                            <input type="hidden" name="page_number" value="{{ page }}">
                            <a class="page-link"
                               onclick="$(this).closest('form').submit();">
                                {{ page }}
                            </a>
                        </form>
                    </li>
                {% endif %}
            {% endfor %}

            {% if person_list_search.has_next %}
                <li class="page-item">
                    <form method="POST" action="/person/search/">
                        {% csrf_token %}
                        <input type="hidden" name="person_search" value="{{ search }}">
                        <input type="hidden" name="page_number" value="{{ person_list_search.next_page_number }}">
                        <a class="page-link"
                           onclick="$(this).closest('form').submit();">
                            &raquo;
                        </a>
                    </form>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                        &raquo;
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}