<div class="tt-menu tt-open"
     style="position: absolute; top: 38%; left: 10px; z-index: 100; display: block; width: inherit">
    {% for person in persons %}
        <div class="tt-suggestion" onclick="$('#edit_user_license_person_id_{{ user_license.id }}').val('{{ person.username }}'); $('#response_edit_{{ user_license.id }}').css('display', 'none'); $('.response_edit_person_id').val('{{ person.id }}');">
            <strong class="tt-highlight" id="{{ person.id }}">{{ person.username }}</strong></div>{% endfor %}</div>
