{% extends "user_licenses_manager.html" %}

{% load staticfiles %}

{% block user_license_table %}

    <div class="card">
        <div class="card-body">
            <button type="button" class="btn bg-slate-600 btn-group mr-2" data-toggle="modal"
                    data-target="#modal_form_vertical">Kullanıcıya Lisansı Ekle
            </button>
            <form action="/user-license/change-show-count/" method="post" class="btn-group mr-2">
                {% csrf_token %}
                <select name="show_by_count" onchange="this.form.submit()"
                        class="form-control select" data-container-css-class="bg-slate-700"
                        data-dropdown-css-class="bg-slate-700" data-placeholder="Show by:"
                        data-fouc>
                    <option style="display: none;"></option>
                    <optgroup label="Show by:">
                        <option value="20" {% if show_user_license_by|safe == "20" %}selected{% else %}{% endif %}>
                            20
                        </option>
                        <option value="50" {% if show_user_license_by|safe == "50" %}selected{% else %}{% endif %}>
                            50
                        </option>
                        <option value="100" {% if show_user_license_by|safe == "100" %}selected{% else %}{% endif %}>
                            100
                        </option>
                        <option value="200" {% if show_user_license_by|safe == "200" %}{% if default == 0 %}selected
                        {% elif default == 1 %}{% endif %}{% else %}{% endif %}>200
                        </option>
                    </optgroup>
                </select>
            </form>
            <form action="/user-license/search/" method="post" class="btn-group mr-2">

                {% csrf_token %}
                <input type="text" class="form-control tt-input btn-group mr-2" id="user_license_search"
                       name="user_license_search" value="{{ search }}"
                       placeholder="Kullanıcı lisansı ara" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;
										   top: 0px;">

                <button class="btn bg-slate-600 btn-group mr-2" type="submit">Ara</button>
            </form>
        </div>
    </div>

    <!-- Inline form modal -->
    <div id="modal_form_vertical" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Yeni Kullanıcı Lisansı Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="/user-license/add/" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="ml-sm-1">Başlangıç Tarihi:</label>
                                    <div class="input-group">
										<span class="input-group-prepend">
											<span class="input-group-text"><i class="icon-calendar3"></i></span>
										</span>
                                        <input type="text" class="form-control pickadate-format"
                                               id="user_license_startingdate" name="user_license_startingdate">

                                        <script>
                                            $('#user_license_startingdate').pickadate({
                                                // Escape any “rule” characters with an exclamation mark (!).
                                                format: 'dd.mm.yyyy',
                                                formatSubmit: 'yyyy-mm-dd',
                                                hiddenPrefix: '',
                                                hiddenSuffix: ''
                                            })
                                        </script>
                                    </div>
                                    <label class="ml-sm-1">Bitiş Tarihi:</label>
                                    <div class="input-group">
										<span class="input-group-prepend">
											<span class="input-group-text"><i class="icon-calendar3"></i></span>
										</span>
                                        <input type="text" class="form-control pickadate-format"
                                               id="user_license_enddate" name="user_license_enddate">

                                        <script>
                                            $('#user_license_enddate').pickadate({
                                                // Escape any “rule” characters with an exclamation mark (!).
                                                format: 'dd.mm.yyyy',
                                                formatSubmit: 'yyyy-mm-dd',
                                                hiddenPrefix: '',
                                                hiddenSuffix: ''
                                            })
                                        </script>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ml-sm-1">Kullanıcı:</label>
                                    <input type="text" name="response_person_id" id="response_person_id"
                                           style="display: none;">
                                    <input type="text" class="form-control tt-input"
                                           id="user_license_person_id" name="user_license_person_id"
                                           placeholder="Kullanıcı Seçiniz" autocomplete="off" spellcheck="false"
                                           dir="auto"
                                           style="position: relative; vertical-align: top; background-color: transparent;
                                           top: 0px;" onclick="$('#response').css('display', 'block');">
                                    <div id="response">
                                        <div class="tt-dataset tt-dataset-states"></div>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            $('#response').css('display', 'none');
                                        });

                                        $(document).ready(function () {
                                            $("#user_license_person_id").keyup(function () {
                                                var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                                                $.ajax({
                                                    url: "/user-license/search-ajax/",
                                                    type: "POST",
                                                    data: {
                                                        'csrfmiddlewaretoken': csrftoken,
                                                        'person-username': $('input[id="user_license_person_id"]').val(),
                                                    },
                                                    success: function (result) {
                                                        $('#response').html(result);
                                                    }
                                                });
                                            });

                                        });

                                        $(document).mouseup(function (e) {
                                            if (!$('#response').is(e.target) // if the target of the click isn't the container...
                                                && $('#response').has(e.target).length === 0) // ... nor a descendant of the container
                                            {
                                                $('#response').hide();
                                            }
                                        });

                                    </script>


                                    <label class="ml-sm-1">Eczane:</label>
                                    <input type="text" name="response_pharmacy_id" id="response_pharmacy_id"
                                           style="display: none;">
                                    <input type="text" class="form-control tt-input"
                                           id="user_license_pharmacies_id" name="user_license_pharmacies_id"
                                           placeholder="Eczaneler" autocomplete="off" spellcheck="false" dir="auto"
                                           style="position: relative; vertical-align: top; background-color: transparent;
                                           top: 0px;" onclick="$('#response_pharmacy').css('display', 'block');">
                                    <div id="response_pharmacy">
                                        <div class="tt-dataset tt-dataset-states"></div>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            $('#response_pharmacy').css('display', 'none');
                                        });

                                        $(document).ready(function () {
                                            $("#user_license_pharmacies_id").keyup(function () {
                                                var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                                                $.ajax({
                                                    url: "/user-license/search-ajax-pharmacy/",
                                                    type: "POST",
                                                    data: {
                                                        'csrfmiddlewaretoken': csrftoken,
                                                        'pharmacy-name': $('input[id="user_license_pharmacies_id"]').val(),
                                                    },
                                                    success: function (result) {
                                                        $('#response_pharmacy').html(result);
                                                    }
                                                });
                                            });

                                        });

                                        $(document).mouseup(function (e) {
                                            if (!$('#response_pharmacy').is(e.target) // if the target of the click isn't the container...
                                                && $('#response_pharmacy').has(e.target).length === 0) // ... nor a descendant of the container
                                            {
                                                $('#response_pharmacy').hide();
                                            }
                                        });

                                    </script>

                                    <div class="col-sm-4">
                                        <label class="ml-sm-2">Aktif:</label>
                                        <div class="form-check form-check-switch form-check-switch-left">
                                            <label class="form-check-label d-flex align-items-center">
                                                <input type="checkbox" id="user_license_active"
                                                       name="user_license_active"
                                                       class="form-check-input form-check-input-switch"
                                                       data-on-text="Evet" data-off-text="Hayır"
                                                       data-on-color="success"
                                                       data-off-color="danger">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn bg-teal-400 ml-sm-2 mb-sm-0">Kaydet</button>
                            <button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /inline form modal -->



    <!-- Pharmacy table -->

    <div class="card">
        <table class="table table-togglable table-hover">
            <thead>
            <tr>
                <th data-hide="phone,tablet">ID</th>
                <th data-toggle="true">Kullanıcı</th>
                <th data-hide="phone,tablet">Eczane</th>
                <th data-hide="phone,tablet">Başlangıç Tarihi</th>
                <th data-hide="phone,tablet">Bitiş Tarihi</th>
                <th data-hide="phone,tablet">Aktif</th>
                <th data-hide="phone,tablet">Data</th>
                <th data-hide="phone,tablet">Oluşturma Tarihi</th>
                <th data-hide="phone,tablet">Güncelleme Tarihi</th>
                <th data-hide="phone,tablet" width="147px"><span style="margin-left: 15px;">Değiştir/Sil</span></th>
            </tr>
            </thead>
            <tbody>
            {% for user_license in user_license_list_search %}
                <tr>
                    <td>{{ user_license.id }}</td>
                    <td>{{ user_license.persons.username }}</td>
                    <td>{{ user_license.pharmacies.name }}</td>
                    <td>{{ user_license.startingdate|date:"d.m.Y" }}</td>
                    <td>{{ user_license.enddate|date:"d.m.Y" }}</td>
                    <td>{% if user_license.active == 1 %}Evet{% elif user_license.active == 0 %}Hayır{% endif %}</td>
                    <td>{{ user_license.data }}</td>
                    <td>{{ user_license.cdate|date:"d.m.Y h:i" }}</td>
                    <td>{{ user_license.udate|date:"d.m.Y h:i" }}</td>
                    <td>
                        <span>
                            <button type="button" class="btn btn-link" data-toggle="modal"
                                    data-target="#modal_form_vertical_{{ user_license.id }}"><i
                                    class="fa fa-edit mr-3"></i></button>
                            <button type="button" class="btn btn-link"
                                    onclick="if(confirm('Are you sure you want to delete item?'))
                                            document.getElementById('user-license-delete-{{ user_license.id }}').submit(); return false">
                                <i class="fa fa-trash-o" style="color: red;"></i></button>
                            <form action="/user-license/user-license-delete/" method="post"
                                  id="user-license-delete-{{ user_license.id }}">
                                {% csrf_token %}
                                <input name="user-license-delete" value="{{ user_license.id }}" style="display: none">
                            </form>
                        </span>
                    </td>

                </tr>


                <!-- Inline form modal -->
                <div id="modal_form_vertical_{{ user_license.id }}" class="modal fade" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Kullanıcı Lisansı Bilgileri Değiştir</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <form action="/user-license/add/" method="post">
                                {% csrf_token %}
                                <input type="text" name="user_license_id" value="{{ user_license.id }}"
                                       style="display: none;">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="ml-sm-1">Başlangıç Tarihi:</label>
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="icon-calendar3"></i></span>
                                                    </span>
                                                    <input type="text"
                                                           class="form-control pickadate-format user_license_startingdate_{{ user_license.id }}"
                                                           id="user_license_startingdate"
                                                           name="user_license_startingdate"
                                                           value="{{ user_license.startingdate|date:"d.m.Y" }}">
                                                    <script>
                                                        $('.user_license_startingdate_{{ user_license.id }}').pickadate({
                                                            // Escape any “rule” characters with an exclamation mark (!).
                                                            format: 'dd.mm.yyyy',
                                                            formatSubmit: 'yyyy-mm-dd',
                                                            hiddenPrefix: '',
                                                            hiddenSuffix: ''
                                                        })
                                                    </script>
                                                </div>

                                                <label class="ml-sm-1">Bitiş Tarihi:</label>
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="icon-calendar3"></i></span>
                                                    </span>
                                                    <input type="text"
                                                           class="form-control pickadate-format user_license_enddate_{{ user_license.id }}"
                                                           id="user_license_enddate" name="user_license_enddate"
                                                           value="{{ user_license.enddate|date:"d.m.Y" }}">
                                                    <script>
                                                        $('.user_license_enddate_{{ user_license.id }}').pickadate({
                                                            // Escape any “rule” characters with an exclamation mark (!).
                                                            format: 'dd.mm.yyyy',
                                                            formatSubmit: 'yyyy-mm-dd',
                                                            hiddenPrefix: '',
                                                            hiddenSuffix: ''
                                                        })
                                                    </script>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="ml-sm-1">Kullanıcı:</label>
                                                <input type="text" name="response_edit_person_id"
                                                       class="response_edit_person_id"
                                                       value="{{ user_license.persons.id }}"
                                                       style="display: none;">
                                                <input type="text" class="form-control tt-input"
                                                       value="{{ user_license.persons.username }}"
                                                       id="edit_user_license_person_id_{{ user_license.id }}"
                                                       name="edit_user_license_person_id_{{ user_license.id }}"
                                                       placeholder="Kullanıcı" autocomplete="off" spellcheck="false"
                                                       dir="auto"
                                                       style="position: relative; vertical-align: top; background-color: transparent;
                                           top: 0px;"
                                                       onclick="$('#response_edit_{{ user_license.id }}').css('display', 'block');">
                                                <div id="response_edit_{{ user_license.id }}">
                                                    <div class="tt-dataset tt-dataset-states"></div>
                                                </div>
                                                <script>
                                                    $(document).ready(function () {
                                                        $('#response_edit_{{ user_license.id }}').css('display', 'none');
                                                    });

                                                    $(document).ready(function () {
                                                        $("#edit_user_license_person_id_{{ user_license.id }}").keyup(function () {
                                                            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                                                            $.ajax({
                                                                url: "/user-license/search-ajax-edit/",
                                                                type: "POST",
                                                                data: {
                                                                    'csrfmiddlewaretoken': csrftoken,
                                                                    'user-license': {{ user_license.id }},
                                                                    'person-username': $('input[id="edit_user_license_person_id_{{ user_license.id }}"]').val(),
                                                                },
                                                                success: function (result) {
                                                                    $('#response_edit_{{ user_license.id }}').html(result);
                                                                }
                                                            });
                                                        });

                                                    });

                                                    $(document).mouseup(function (e) {
                                                        if (!$('#response_edit_{{ user_license.id }}').is(e.target) // if the target of the click isn't the container...
                                                            && $('#response_edit_{{ user_license.id }}').has(e.target).length === 0) // ... nor a descendant of the container
                                                        {
                                                            $('#response_edit_{{ user_license.id }}').hide();
                                                        }
                                                    });

                                                </script>


                                                <label class="ml-sm-1">Eczane:</label>
                                                <input type="text" name="response_edit_pharmacy_id"
                                                       class="response_edit_pharmacy_id"
                                                       value="{{ user_license.pharmacies.id }}"
                                                       style="display: none;">
                                                <input type="text" class="form-control tt-input"
                                                       value="{{ user_license.pharmacies.name }}"
                                                       id="edit_user_license_pharmacies_id_{{ user_license.id }}"
                                                       name="edit_user_license_pharmacies_id_{{ user_license.id }}"
                                                       placeholder="Eczaneler" autocomplete="off" spellcheck="false"
                                                       dir="auto"
                                                       style="position: relative; vertical-align: top; background-color: transparent;
                                           top: 0px;"
                                                       onclick="$('#response_edit_pharmacy_{{ user_license.id }}').css('display', 'block');">
                                                <div id="response_edit_pharmacy_{{ user_license.id }}">
                                                    <div class="tt-dataset tt-dataset-states"></div>
                                                </div>
                                                <script>
                                                    $(document).ready(function () {
                                                        $('#response_edit_pharmacy_{{ user_license.id }}').css('display', 'none');
                                                    });

                                                    $(document).ready(function () {
                                                        $("#edit_user_license_pharmacies_id_{{ user_license.id }}").keyup(function () {
                                                            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                                                            $.ajax({
                                                                url: "/user-license/search-ajax-pharmacy-edit/",
                                                                type: "POST",
                                                                data: {
                                                                    'csrfmiddlewaretoken': csrftoken,
                                                                    'user-license': {{ user_license.id }},
                                                                    'pharmacy-name': $('input[id="edit_user_license_pharmacies_id_{{ user_license.id }}"]').val(),
                                                                },
                                                                success: function (result) {
                                                                    $('#response_edit_pharmacy_{{ user_license.id }}').html(result);
                                                                }
                                                            });
                                                        });

                                                    });

                                                    $(document).mouseup(function (e) {
                                                        if (!$('#response_edit_pharmacy_{{ user_license.id }}').is(e.target) // if the target of the click isn't the container...
                                                            && $('#response_edit_pharmacy_{{ user_license.id }}').has(e.target).length === 0) // ... nor a descendant of the container
                                                        {
                                                            $('#response_edit_pharmacy_{{ user_license.id }}').hide();
                                                        }
                                                    });

                                                </script>

                                                <div class="col-sm-4">
                                                    <label class="ml-sm-2">Aktif:</label>
                                                    {% if user_license.active == 1 %}
                                                        <input type="text" name="user_license_active" value="0"
                                                               style="display: none;">
                                                        <div class="form-check form-check-switch form-check-switch-left">
                                                            <label class="form-check-label d-flex align-items-center">
                                                                <input type="checkbox"
                                                                       class="form-check-input form-check-input-switch"
                                                                       data-on-text="Evet" data-off-text="Hayır"
                                                                       data-on-color="success"
                                                                       data-off-color="danger"
                                                                       checked="checked">
                                                            </label>
                                                        </div>
                                                    {% else %}
                                                        <input type="text" name="user_license_active" value="1"
                                                               style="display: none;">
                                                        <div class="form-check form-check-switch form-check-switch-left">
                                                            <label class="form-check-label d-flex align-items-center">
                                                                <input type="checkbox"
                                                                       class="form-check-input form-check-input-switch"
                                                                       data-on-text="Evet" data-off-text="Hayır"
                                                                       data-on-color="success"
                                                                       data-off-color="danger">
                                                            </label>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn bg-teal-400 ml-sm-2 mb-sm-0">Kaydet</button>
                                        <button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /inline form modal -->



            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- /pharmacy table -->

    <script>
        $('.pickadate-format').pickadate({
            // Escape any “rule” characters with an exclamation mark (!).
            format: 'dd.mm.yyyy',
            formatSubmit: 'yyyy-mm-dd',
            hiddenPrefix: '',
            hiddenSuffix: ''
        })
    </script>



{% endblock %}

{% block user_license_pagination %}

    <nav>
        <ul class="pagination justify-content-center">
            {% if user_license_list_search.has_previous %}
                <li class="page-item">
                    <form method="POST" action="/user-license/search/">
                        {% csrf_token %}
                        <input type="hidden" name="user_license_search" value="{{ search }}">
                        <input type="hidden" name="page_number"
                               value="{{ user_license_list_search.previous_page_number }}">
                        <a class="page-link"
                           onclick="$(this).closest('form').submit();">
                            &laquo;
                        </a>
                    </form>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                        &laquo;
                    </a>
                </li>
            {% endif %}

            {% for page in page_range %}
                {% if page == user_license_list_search.number %}
                    <li class="page-item disabled">
                        <a class="page-link">
                            {{ page }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <form method="POST" action="/user-license/search/">
                            {% csrf_token %}
                            <input type="hidden" name="user_license_search" value="{{ search }}">
                            <input type="hidden" name="page_number" value="{{ page }}">
                            <a class="page-link"
                               onclick="$(this).closest('form').submit();">
                                {{ page }}
                            </a>
                        </form>
                    </li>
                {% endif %}
            {% endfor %}

            {% if user_license_list_search.has_next %}
                <li class="page-item">
                    <a class="page-link" href="/user-license/search/{{ user_license_list_search.next_page_number }}/">
                        &raquo;
                    </a>
                    <form method="POST" action="/user-license/search/">
                        {% csrf_token %}
                        <input type="hidden" name="user_license_search" value="{{ search }}">
                        <input type="hidden" name="page_number" value="{{ user_license_list_search.next_page_number }}">
                        <a class="page-link"
                           onclick="$(this).closest('form').submit();">
                            &raquo;
                        </a>
                    </form>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                        &raquo;
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}