<div class="tt-menu tt-open" style="position: absolute; top: 70%; left: 10px; z-index: 100; display: block; width: inherit">{% for pharmacy in pharmacies %}
    <div class="tt-suggestion" onclick="$('#user_license_pharmacies_id').val('{{ pharmacy.name }}'); $('#response_pharmacy').css('display', 'none'); $('#response_pharmacy_id').val('{{ pharmacy.id }}');"><strong class="tt-highlight" id="{{ pharmacy.id }}">{{ pharmacy.name }}</strong></div>{% endfor %}</div>
