{% load staticfiles %}

{% block contact_info_pagination %}

    <nav>
        <ul class="pagination justify-content-center">
            {% if contact_info_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="/contact-info/{{ contact_info_list.previous_page_number }}/">
                        &laquo;
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                        &laquo;
                    </a>
                </li>
            {% endif %}

            {% for page in page_range %}
                {% if page == contact_info_list.number %}
                    <li class="page-item disabled">
                        <a class="page-link">
                            {{ page }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="/contact-info/{{ page }}/">
                            {{ page }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if contact_info_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="/contact-info/{{ contact_info_list.next_page_number }}/">
                        &raquo;
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                        &raquo;
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}