{% load staticfiles %}

{% block contact_info_table %}

    <div class="card">
        <div class="card-body">
            <button type="button" class="btn bg-slate-600 btn-group mr-2" data-toggle="modal"
                    data-target="#modal_form_vertical">Yeni İletişim Bilgileri Ekle
            </button>
            <form action="/contact-info/change-show-count/" method="post" class="btn-group mr-2">
                {% csrf_token %}
                <select name="show_by_count" onchange="this.form.submit()"
                        class="form-control select" data-container-css-class="bg-slate-700"
                        data-dropdown-css-class="bg-slate-700" data-placeholder="Show by:"
                        data-fouc>
                    <option style="display: none;"></option>
                    <optgroup label="Show by:">
                        <option value="20" {% if show_contact_info_by|safe == "20" %}selected{% else %}{% endif %}>
                            20
                        </option>
                        <option value="50" {% if show_contact_info_by|safe == "50" %}selected{% else %}{% endif %}>
                            50
                        </option>
                        <option value="100" {% if show_contact_info_by|safe == "100" %}selected{% else %}{% endif %}>
                            100
                        </option>
                        <option value="200" {% if show_contact_info_by|safe == "200" %}{% if default == 0 %}selected
                        {% elif default == 1 %}{% endif %}{% else %}{% endif %}>200
                        </option>
                    </optgroup>
                </select>
            </form>
        </div>
    </div>

    <!-- Inline form modal -->
    <div id="modal_form_vertical" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Yeni İletişim Bilgileri Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="/contact-info/add/" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="ml-sm-2">Text:</label>
                                    <input type="text" placeholder="İletişim bilgisi giriniz" class="form-control"
                                           name="contact_text" id="contact_text" required>
                                </div>
                                <div class="col-sm-4">
                                    <label class="ml-sm-2">İletişim Tipi:</label>
                                    <select class="form-control select"
                                            data-container-css-class="bg-slate-700"
                                            data-dropdown-css-class="bg-slate-700"
                                            data-placeholder="İletişim Tipi Seçiniz"
                                            data-fouc name="contact_contacttypes"
                                            id="contact_contacttypes">
                                        <option></option>
                                        {% for contact_type in contact_types %}
                                            <option value="{{ contact_type.id }}">{{ contact_type.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label class="ml-sm-2">Aktif:</label>
                                    <div class="form-check form-check-switch form-check-switch-left">
                                        <label class="form-check-label d-flex align-items-center">
                                            <input type="checkbox" id="contact_active" name="contact_active"
                                                   class="form-check-input form-check-input-switch"
                                                   data-on-text="Evet" data-off-text="Hayır"
                                                   data-on-color="success"
                                                   data-off-color="danger">
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn bg-teal-400 ml-sm-2 mb-sm-0">Kaydet</button>
                        <button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /inline form modal -->



    <!-- Pharmacy table -->

    <div class="card">
        <table class="table table-togglable table-hover">
            <thead>
            <tr>
                <th data-hide="phone,tablet">ID</th>
                <th data-toggle="true">Text</th>
                <th data-hide="phone,tablet">İletişim Tipi</th>
                <th data-hide="phone,tablet">Aktif</th>
                <th data-hide="phone,tablet"><span style="margin-left: 15px;">Değiştir/Sil</span></th>
            </tr>
            </thead>
            <tbody>
            {% for contact_info in contact_info_list %}
                <tr>
                    <td>{{ contact_info.id }}</td>
                    <td>{{ contact_info.text }}</td>
                    <td>{{ contact_info.contacttypes.name }}</td>
                    <td>{% if contact_info.active == 1 %}Evet{% elif contact_info.active == 0 %}Hayır{% endif %}</td>
                    <td>
                        <span>
                            <button type="button" class="btn btn-link" data-toggle="modal"
                                    data-target="#modal_form_vertical_{{ contact_info.id }}"><i
                                    class="fa fa-edit mr-3"></i></button>
                            <button type="button" class="btn btn-link"
                                    onclick="if(confirm('Are you sure you want to delete item?'))
                                            document.getElementById('contact-info-delete-{{ contact_info.id }}').submit(); return false">
                                <i class="fa fa-trash-o" style="color: red;"></i></button>
                            <form action="/contact-info/contact-info-delete/" method="post"
                                  id="contact-info-delete-{{ contact_info.id }}">
                                {% csrf_token %}
                                <input name="contact-info-delete" value="{{ contact_info.id }}"
                                       style="display: none">
                            </form>
                        </span>
                    </td>
                </tr>


                <!-- Inline form modal -->
                <div id="modal_form_vertical_{{ contact_info.id }}" class="modal fade" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">İletişim Bilgileri Değiştir</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <form action="/contact-info/add/" method="post">
                                {% csrf_token %}
                                <input type="text" name="contact_info_id" value="{{ contact_info.id }}"
                                       style="display: none;">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <input type="text" name="contact_info_id" value="{{ contact_info.id }}"
                                                   style="display: none;">
                                            <div class="col-sm-4">
                                                <label class="ml-sm-2">Text:</label>
                                                <input type="text" placeholder="İletişim bilgisi giriniz"
                                                       class="form-control" value="{{ contact_info.text }}"
                                                       name="contact_text" id="contact_text" required>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="ml-sm-2">İletişim Tipi:</label>
                                                <select class="form-control select"
                                                        data-container-css-class="bg-slate-700"
                                                        data-dropdown-css-class="bg-slate-700"
                                                        data-placeholder="İletişim Tipi Seçiniz"
                                                        data-fouc name="contact_contacttypes"
                                                        id="contact_contacttypes">
                                                    <option></option>
                                                    {% for contact_type in contact_types %}
                                                        {% if contact_type.id == contact_info.contacttypes.id %}
                                                            <option value="{{ contact_type.id }}"
                                                                    selected>{{ contact_type.name }}</option>
                                                        {% else %}
                                                            <option value="{{ contact_type.id }}">{{ contact_type.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="ml-sm-2">Aktif:</label>
                                                {% if contact_info.active == 1 %}
                                                    <input type="text" name="contact_active" value="0"
                                                           style="display: none;">
                                                    <div class="form-check form-check-switch form-check-switch-left">
                                                        <label class="form-check-label d-flex align-items-center">
                                                            <input type="checkbox"
                                                                   class="form-check-input form-check-input-switch"
                                                                   data-on-text="Evet" data-off-text="Hayır"
                                                                   data-on-color="success"
                                                                   data-off-color="danger"
                                                                   checked="checked">
                                                        </label>
                                                    </div>
                                                {% else %}
                                                    <input type="text" name="contact_active" value="1"
                                                           style="display: none;">
                                                    <div class="form-check form-check-switch form-check-switch-left">
                                                        <label class="form-check-label d-flex align-items-center">
                                                            <input type="checkbox"
                                                                   class="form-check-input form-check-input-switch"
                                                                   data-on-text="Evet" data-off-text="Hayır"
                                                                   data-on-color="success"
                                                                   data-off-color="danger">
                                                        </label>
                                                    </div>
                                                {% endif %}
                                            </div>

                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn bg-teal-400 ml-sm-2 mb-sm-0">Kaydet</button>
                                        <button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /inline form modal -->



            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- /pharmacy table -->



{% endblock %}