{% extends "pharmacy_manager.html" %}

{% load staticfiles %}

{% block pharmacy_table %}

	<div class="card">
		<div class="card-body">
			<button type="button" class="btn bg-slate-600 btn-group mr-2" data-toggle="modal"
					data-target="#modal_form_vertical">Eczane Ekle
			</button>
			<form action="/pharmacy/change-show-count/" method="post" class="btn-group mr-2">
				{% csrf_token %}
				<select name="show_by_count" onchange="this.form.submit()"
						class="form-control select" data-container-css-class="bg-slate-700"
						data-dropdown-css-class="bg-slate-700" data-placeholder="Show by:"
						data-fouc>
					<option style="display: none;"></option>
					<optgroup label="Show by:">
						<option value="20" {% if show_pharmacy_by|safe == "20" %}selected{% else %}{% endif %}>
							20
						</option>
						<option value="50" {% if show_pharmacy_by|safe == "50" %}selected{% else %}{% endif %}>
							50
						</option>
						<option value="100" {% if show_pharmacy_by|safe == "100" %}selected{% else %}{% endif %}>
							100
						</option>
						<option value="200" {% if show_pharmacy_by|safe == "200" %}{% if default == 0 %}selected
						{% elif default == 1 %}{% endif %}{% else %}{% endif %}>200
						</option>
					</optgroup>
				</select>
			</form>
			<form action="/pharmacy/search/" method="post" class="btn-group mr-2">

                {% csrf_token %}
                <input type="text" class="form-control tt-input btn-group mr-2" id="pharmacy_search"
                       name="pharmacy_search" value="{{ search }}"
                       placeholder="Eczane ara" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;
										   top: 0px;">

                <button class="btn bg-slate-600 btn-group mr-2" type="submit">Ara</button>
            </form>
		</div>
	</div>

	<!-- Inline form modal -->
	<div id="modal_form_vertical" class="modal fade" tabindex="-1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Yeni Eczane Ekle</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<form action="/pharmacy/add/" method="post">
					{% csrf_token %}
					<div class="modal-body">
						<div class="form-group">
							<div class="row">
								<div class="col-sm-6">
									<label class="ml-sm-2">İsim:</label>
									<input type="text" placeholder="Eczane ismi giriniz" class="form-control"
										   name="pharmacy_name" id="pharmacy_name" required>
								</div>

								<div class="col-sm-6">
									<label>Açıklama:</label>
									<input type="text" placeholder="Açıklama giriniz" class="form-control"
										   name="pharmacy_description" id="pharmacy_description" required>
								</div>
							</div>
						</div>

						<div class="modal-footer">
							<button type="submit" class="btn bg-teal-400 ml-sm-2 mb-sm-0">Kaydet</button>
							<button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- /inline form modal -->



	<!-- Pharmacy table -->

	<div class="card">
		<table class="table table-togglable table-hover">
			<thead>
			<tr>
				<th data-hide="phone,tablet">ID</th>
				<th data-toggle="true">İsim</th>
				<th data-hide="phone,tablet">Açıklama</th>
				<th data-hide="phone,tablet">Oluşturma Tarihi</th>
				<th data-hide="phone,tablet">Güncelleme Tarihi</th>
				<th data-hide="phone,tablet"><span style="margin-left: 15px;">Adres</span>
				</th>
				<th data-hide="phone,tablet"><span style="margin-left: 15px;">İletişim</span></th>
				<th data-hide="phone,tablet"><span style="margin-left: 15px;">Değiştir/Sil</span></th>
			</tr>
			</thead>
			<tbody id="pharmacy_table">
			{% for pharmacy in pharmacies_list_search %}
				<tr>
					<td>{{ pharmacy.id }}</td>
					<td>{{ pharmacy.name }}</td>
					<td>{{ pharmacy.description }}</td>
					<td>{{ pharmacy.cdate }}</td>
					<td>{{ pharmacy.udate }}</td>
					<td>
						<button type="button" class="btn btn-outline-primary border-transparent" data-toggle="modal"
								data-target="#address_details_{{ pharmacy.id }}">Detaylar
						</button>
					</td>
					<td>
						<button type="button" class="btn btn-outline-primary border-transparent" data-toggle="modal"
								data-target="#contactinfo_details_{{ pharmacy.id }}">Detaylar
						</button>
					</td>
					<td>
						<span>
							<button type="button" class="btn btn-link" data-toggle="modal"
									data-target="#modal_form_vertical_{{ pharmacy.id }}"><i
									class="fa fa-edit mr-3"></i></button>
							<button type="button" class="btn btn-link"
									onclick="if(confirm('Are you sure you want to delete item?'))
											document.getElementById('pharmacy-delete-{{ pharmacy.id }}').submit(); return false">
								<i class="fa fa-trash-o" style="color: red;"></i></button>
							<form action="/pharmacy/pharmacy-delete/" method="post"
								  id="pharmacy-delete-{{ pharmacy.id }}">
								{% csrf_token %}
								<input name="pharmacy-delete" value="{{ pharmacy.id }}"
									   style="display: none">
							</form>
						</span>
					</td>
				</tr>


				<!-- Inline form modal -->
				<div id="modal_form_vertical_{{ pharmacy.id }}" class="modal fade" tabindex="-1">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Eczane Bilgileri Değiştir</h5>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<form action="/pharmacy/add/" method="post">
								{% csrf_token %}
								<input type="text" name="pharmacy_id" value="{{ pharmacy.id }}" style="display: none;">
								<div class="modal-body">
									<div class="form-group">
										<div class="row">
											<input type="text" name="pharmacy_id" value="{{ pharmacy.id }}"
												   style="display: none;">
											<div class="col-sm-6">
												<label>İsim</label>
												<input type="text" placeholder="Eczane ismi giriniz"
													   class="form-control"
													   name="pharmacy_name" value="{{ pharmacy.name }}">
											</div>

											<div class="col-sm-6">
												<label class="ml-sm-2">Açıklama</label>
												<input type="text" placeholder="Açıklama giriniz" class="form-control"
													   name="pharmacy_description" value="{{ pharmacy.description }}">
											</div>

										</div>
									</div>

									<div class="modal-footer">
										<button type="submit" class="btn bg-teal-400 ml-sm-2 mb-sm-0">Kaydet</button>
										<button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- /inline form modal -->



			{% endfor %}
			</tbody>
		</table>


		{% for pharmacy in pharmacies_list %}
			<!-- Inline form modal -->
			<div id="contactinfo_details_{{ pharmacy.id }}" class="modal fade" tabindex="-1">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Eczane İletişim Bilgileri</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<div class="card-body">
							</div>
							<!-- /inline form modal -->
							<div class="form-group">
								<div class="card">
									<table class="table table-togglable table-hover">
										<thead>
										<tr>
											<th data-toggle="true">Text</th>
											<th data-hide="phone,tablet">İletişim Tipi</th>
											<th data-hide="phone,tablet">Aktif</th>
										</tr>
										</thead>
										<tbody>
										{% for contact in pharmacies_has_contact %}
											{% if contact.pharmacies_id == pharmacy.id %}
												<tr>
													<td>{{ contact.contactinfos.text }}</td>
													<td>{{ contact.contactinfos.contacttypes.name }}</td>
													<td>{% if contact.contactinfos.active == 1 %}
														Evet{% elif contact.contactinfos.active == 0 %}
														Hayır{% endif %}</td>
												</tr>
											{% endif %}
										{% endfor %}
										</tbody>
									</table>
								</div>

								<div class="modal-footer">
									<button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /inline form modal -->
		{% endfor %}



		{% for pharmacy in pharmacies_list_search %}
			<!-- Inline form modal -->
			<div id="address_details_{{ pharmacy.id }}" class="modal fade" tabindex="-1">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Eczane Adres Bilgileri</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<div class="card-body">
							</div>
							<!-- /inline form modal -->
							<div class="form-group">
								<div class="card">
									<table class="table table-togglable table-hover">
										<thead>
										<tr>
											<th data-hide="phone,tablet">ID</th>
											<th data-toggle="true">Adres 1</th>
											<th data-hide="phone,table">Adres 2</th>
											<th data-hide="phone,tablet">Aktif</th>
											<th data-hide="phone,tablet">Şehir</th>
											<th data-hide="phone,tablet">İlçe</th>
											<th data-hide="phone,tablet">Semt</th>
										</tr>
										</thead>
										<tbody>
										{% for address in pharmacies_has_address %}
											{% if address.pharmacies_id == pharmacy.id %}
												<tr>
													<td>{{ address.addresses.id }}</td>
													<td>{{ address.addresses.description }}</td>
													<td>{{ address.addresses.otheraddrinfo }}</td>
													<td>{% if address.addresses.active == 1 %}
														Evet{% elif address.addresses.active == 0 %}
														Hayır{% endif %}</td>
													<td>{{ address.addresses.districts.counties.cities.city }}</td>
													<td>{{ address.addresses.districts.counties.county }}</td>
													<td>{{ address.addresses.districts }}</td>
												</tr>
											{% endif %}
										{% endfor %}
										</tbody>
									</table>
								</div>

								<div class="modal-footer">
									<button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /inline form modal -->
		{% endfor %}
	</div>

	<!-- /pharmacy table -->



{% endblock %}


{% block pharmacy_pagination %}

    <nav>
        <ul class="pagination justify-content-center">
            {% if pharmacy_list_search.has_previous %}
                <li class="page-item">
                    <form method="POST" action="/pharmacy/search/">
                        {% csrf_token %}
                        <input type="hidden" name="pharmacy_search" value="{{ search }}">
                        <input type="hidden" name="page_number" value="{{ pharmacy_list_search.previous_page_number }}">
                        <a class="page-link"
                           onclick="$(this).closest('form').submit();">
                            &laquo;
                        </a>
                    </form>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                        &laquo;
                    </a>
                </li>
            {% endif %}

            {% for page in page_range %}
                {% if page == pharmacy_list_search.number %}
                    <li class="page-item disabled">
                        <a class="page-link">
                            {{ page }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <form method="POST" action="/pharmacy/search/">
                            {% csrf_token %}
                            <input type="hidden" name="pharmacy_search" value="{{ search }}">
                            <input type="hidden" name="page_number" value="{{ page }}">
                            <a class="page-link"
                               onclick="$(this).closest('form').submit();">
                                {{ page }}
                            </a>
                        </form>
                    </li>
                {% endif %}
            {% endfor %}

            {% if pharmacy_list_search.has_next %}
                <li class="page-item">
                    <form method="POST" action="/pharmacy/search/">
                        {% csrf_token %}
                        <input type="hidden" name="pharmacy_search" value="{{ search }}">
                        <input type="hidden" name="page_number" value="{{ pharmacy_list_search.next_page_number }}">
                        <a class="page-link"
                           onclick="$(this).closest('form').submit();">
                            &raquo;
                        </a>
                    </form>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                        &raquo;
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}