{% load staticfiles %}

{% block pharmacy_table %}

    <div class="card">
        <div class="card-body">
            <button type="button" class="btn bg-slate-600 btn-group mr-2" data-toggle="modal"
                    data-target="#modal_form_vertical">Eczane Ekle
            </button>
            <form action="/pharmacy/change-show-count/" method="post" class="btn-group mr-2">
                {% csrf_token %}
                <select name="show_by_count" onchange="this.form.submit()"
                        class="form-control select" data-container-css-class="bg-slate-700"
                        data-dropdown-css-class="bg-slate-700" data-placeholder="Show by:"
                        data-fouc>
                    <option style="display: none;"></option>
                    <optgroup label="Show by:">
                        <option value="20" {% if show_pharmacy_by|safe == "20" %}selected{% else %}{% endif %}>
                            20
                        </option>
                        <option value="50" {% if show_pharmacy_by|safe == "50" %}selected{% else %}{% endif %}>
                            50
                        </option>
                        <option value="100" {% if show_pharmacy_by|safe == "100" %}selected{% else %}{% endif %}>
                            100
                        </option>
                        <option value="200" {% if show_pharmacy_by|safe == "200" %}{% if default == 0 %}selected
                        {% elif default == 1 %}{% endif %}{% else %}{% endif %}>200
                        </option>
                    </optgroup>
                </select>
            </form>
            <form action="/pharmacy/search/" method="post" class="btn-group mr-2">

                {% csrf_token %}
                <input type="text" class="form-control tt-input btn-group mr-2" id="pharmacy_search"
                       name="pharmacy_search"
                       placeholder="Eczane ara" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;
										   top: 0px;">

                <button class="btn bg-slate-600 btn-group mr-2" type="submit">Ara</button>
            </form>
        </div>
    </div>

    <!-- Inline form modal -->
    <div id="modal_form_vertical" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Yeni Eczane Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="/pharmacy/add/" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="ml-sm-2">İsim:</label>
                                    <input type="text" placeholder="Eczane ismi giriniz" class="form-control"
                                           name="pharmacy_name" id="pharmacy_name" required>
                                </div>

                                <div class="col-sm-6">
                                    <label>Açıklama:</label>
                                    <input type="text" placeholder="Açıklama giriniz" class="form-control"
                                           name="pharmacy_description" id="pharmacy_description" required>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn bg-teal-400 ml-sm-2 mb-sm-0">Kaydet</button>
                            <button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /inline form modal -->



    <!-- Pharmacy table -->

    <div class="card">
        <table class="table table-togglable table-hover">
            <thead>
            <tr>
                <th data-hide="phone,tablet">ID</th>
                <th data-toggle="true">İsim</th>
                <th data-hide="phone,tablet">Açıklama</th>
                <th data-hide="phone,tablet">Oluşturma Tarihi</th>
                <th data-hide="phone,tablet">Güncelleme Tarihi</th>
                <th data-hide="phone,tablet"><span style="margin-left: 15px;">Adres</span>
                </th>
                <th data-hide="phone,tablet"><span style="margin-left: 15px;">İletişim</span></th>
                <th data-hide="phone,tablet"><span style="margin-left: 15px;">Değiştir/Sil</span></th>
            </tr>
            </thead>
            <tbody id="pharmacy_table">
            {% for pharmacy in pharmacies_list %}
                <tr>
                    <td>{{ pharmacy.id }}</td>
                    <td>{{ pharmacy.name }}</td>
                    <td>{{ pharmacy.description }}</td>
                    <td>{{ pharmacy.cdate|date:"d.m.Y H:i" }}</td>
                    <td>{{ pharmacy.udate|date:"d.m.Y H:i" }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary border-transparent" data-toggle="modal"
                                data-target="#address_details_{{ pharmacy.id }}">Detaylar
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-primary border-transparent" data-toggle="modal"
                                data-target="#contactinfo_details_{{ pharmacy.id }}">Detaylar
                        </button>
                    </td>
                    <td>
						<span>
							<button type="button" class="btn btn-link" data-toggle="modal"
                                    data-target="#modal_form_vertical_{{ pharmacy.id }}"><i
                                    class="fa fa-edit mr-3"></i></button>
							<button type="button" class="btn btn-link"
                                    onclick="if(confirm('Are you sure you want to delete item?'))
                                            document.getElementById('pharmacy-delete-{{ pharmacy.id }}').submit(); return false">
								<i class="fa fa-trash-o" style="color: red;"></i></button>
							<form action="/pharmacy/pharmacy-delete/" method="post"
                                  id="pharmacy-delete-{{ pharmacy.id }}">
								{% csrf_token %}
								<input name="pharmacy-delete" value="{{ pharmacy.id }}"
                                       style="display: none">
							</form>
						</span>
                    </td>
                </tr>


                <!-- Inline form modal -->
                <div id="modal_form_vertical_{{ pharmacy.id }}" class="modal fade" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Eczane Bilgileri Değiştir</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <form action="/pharmacy/add/" method="post">
                                {% csrf_token %}
                                <input type="text" name="pharmacy_id" value="{{ pharmacy.id }}" style="display: none;">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <input type="text" name="pharmacy_id" value="{{ pharmacy.id }}"
                                                   style="display: none;">
                                            <div class="col-sm-6">
                                                <label>İsim</label>
                                                <input type="text" placeholder="Eczane ismi giriniz"
                                                       class="form-control"
                                                       name="pharmacy_name" value="{{ pharmacy.name }}">
                                            </div>

                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">Açıklama</label>
                                                <input type="text" placeholder="Açıklama giriniz" class="form-control"
                                                       name="pharmacy_description" value="{{ pharmacy.description }}">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn bg-teal-400 ml-sm-2 mb-sm-0">Kaydet</button>
                                        <button type="button" class="btn bg-light" data-dismiss="modal">Kapat</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /inline form modal -->



            {% endfor %}
            </tbody>
        </table>


        {% for pharmacy in pharmacies_list %}
            <!-- Inline form modal -->
            <div id="contactinfo_details_{{ pharmacy.id }}" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Eczane İletişim Bilgileri</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="card-body">
                            </div>
                            <!-- /inline form modal -->
                            <div class="form-group" id="contact_modal_{{ pharmacy.id }}">
                                <div class="card">
                                    {% for contact in pharmacies_has_contact %}
                                        {% if contact.pharmacies_id == pharmacy.id %}
                                            <div class="card-body">
                                                <input type="text" name="contact_id_{{ contact.contactinfos.id }}"
                                                       value="{{ contact.contactinfos.id }}" style="display: none">
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label">İletişim tipi:</label>
                                                    <div class="col-lg-9 col-form-label">
                                                        <p>{{ contact.contactinfos.contacttypes.name }}</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label">İletişim Bilgisi:</label>
                                                    <div class="col-lg-9 col-form-label">
                                                        {{ contact.contactinfos.text }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer d-flex justify-content-between">
                                                <span class="text-muted">En son güncelleme: {{ contact.contactinfos.udate|date:"d.m.Y H:i" }}</span>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                {% for contact in pharmacies_has_contact %}
                                    {% if contact.pharmacies_id == pharmacy.id %}
                                        <div class="modal-footer">
                                            <button type="submit" id="edit-contact-button-{{ pharmacy.id }}"
                                                    class="btn bg-teal-400 ml-sm-2 mb-sm-0"><i
                                                    class="icon-pencil mr-2"></i>Değiştir
                                            </button>
                                            <script>
                                                $('#edit-contact-button-{{ pharmacy.id }}').click(function () {
                                                    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                                                    var contact_id = $("[name=contact_id_{{ contact.contactinfos.id }}]").val();
                                                    $.ajax
                                                    ({
                                                        url: '/pharmacy/contact/edit/',
                                                        data: {
                                                            'csrfmiddlewaretoken': csrftoken,
                                                            'contact_id': contact_id,
                                                        },
                                                        type: 'post',
                                                        success: function (result) {
                                                            $("#contact_modal_{{ pharmacy.id }}").html(result);
                                                        }
                                                    });
                                                });
                                            </script>
                                            <button type="button" class="btn bg-light" data-dismiss="modal">Kapat
                                            </button>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /inline form modal -->
        {% endfor %}



        {% for pharmacy in pharmacies_list %}
            <!-- Inline form modal -->
            <div id="address_details_{{ pharmacy.id }}" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Eczane Adres Bilgileri</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <!-- /inline form modal -->
                            <div class="form-group" id="address_modal_{{ pharmacy.id }}">
                                <div class="card" id="card-wrapper">
                                    {% for address in pharmacies_has_address %}
                                        {% if address.pharmacies_id == pharmacy.id %}
                                            <div class="card-body ml-lg-3 mt-lg-2 mb-lg-2">
                                                <input type="text" name="address_id_{{ address.addresses.id }}"
                                                       value="{{ address.addresses.id }}" style="display: none">
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label">Adres:</label>
                                                    <div class="col-lg-9 col-form-label">
                                                        <p>{{ address.addresses.description }}</p>
                                                    </div>
                                                    <label class="col-lg-3 col-form-label"></label>
                                                    <div class="col-lg-9 col-form-label">
                                                        <p>{{ address.addresses.otheraddrinfo }}</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label">Semt:</label>
                                                    <div class="col-lg-9 col-form-label">
                                                        <p>{{ address.addresses.districts }}</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label">İlçe:</label>
                                                    <div class="col-lg-9 col-form-label">
                                                        <p>{{ address.addresses.districts.counties.county }}</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label">Şehir:</label>
                                                    <div class="col-lg-9 col-form-label">
                                                        <p>{{ address.addresses.districts.counties.cities.city }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer d-flex justify-content-between">
                                                <span class="text-muted">En son güncelleme: {{ address.addresses.udate|date:"d.m.Y H:i" }}</span>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                {% for address in pharmacies_has_address %}
                                    {% if address.pharmacies_id == pharmacy.id %}
                                        <div class="modal-footer">
                                            <button type="submit" id="edit-address-button-{{ pharmacy.id }}"
                                                    class="btn bg-teal-400 ml-sm-2 mb-sm-0"><i
                                                    class="icon-pencil mr-2"></i>Değiştir
                                            </button>
                                            <script>
                                                $('#edit-address-button-{{ pharmacy.id }}').click(function () {
                                                    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                                                    var address_id = $("[name=address_id_{{ address.addresses.id }}]").val();
                                                    $.ajax
                                                    ({
                                                        url: '/pharmacy/address/edit/',
                                                        data: {
                                                            'csrfmiddlewaretoken': csrftoken,
                                                            'address_id': address_id,
                                                        },
                                                        type: 'post',
                                                        success: function (result) {
                                                            $("#address_modal_{{ pharmacy.id }}").html(result);
                                                        }
                                                    });
                                                });
                                            </script>
                                            <button type="button" class="btn bg-light" data-dismiss="modal">Kapat
                                            </button>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /inline form modal -->
        {% endfor %}
    </div>

    <!-- /pharmacy table -->



{% endblock %}