{% load staticfiles %}
<div class="form-group" id="address_modal_{{ address.id }}">
    <div class="card">
        <div class="card-body ml-lg-3 mt-lg-2 mb-lg-2">
            <input type="text" name="address_id_{{ address.id }}" value="{{ address.id }}" style="display: none">
            <div class="form-group row">
                <label class="col-lg-3 col-form-label">Adres:</label>
                <div class="col-lg-9 col-form-label">
                    <input type="text" placeholder="Adres 1'i açık şekilde giriniz"
                           class="form-control" value="{{ address.description }}"
                           name="address_description" id="address_description">
                </div>
                <label class="col-lg-3 col-form-label"></label>
                <div class="col-lg-9 col-form-label">
                    <input type="text" placeholder="Adres 2'yi açık şekilde giriniz"
                           class="form-control"
                           value="{{ address.otheraddrinfo }}"
                           name="address_otheraddrinfo" id="address_otheraddrinfo">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label">Semt:</label>
                <div class="col-lg-9 col-form-label">
                    <select class="form-control select"
                            data-container-css-class="bg-slate-700"
                            data-dropdown-css-class="bg-slate-700"
                            data-placeholder="Adresin semtini giriniz"
                            name="address_districts"
                            id="address_districts_{{ address.id }}">
                        <option></option>
                        {% for district in address.districts.counties.districts_counties_key.all %}
                            {% if district.id == address.districts.id %}
                                <option value="{{ district.id }}"
                                        selected>{{ district.district }}</option>
                            {% else %}
                                <option value="{{ district.id }}">{{ district.district }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label">İlçe:</label>
                <div class="col-lg-9 col-form-label">
                    <select class="form-control select"
                            data-container-css-class="bg-slate-700"
                            data-dropdown-css-class="bg-slate-700"
                            data-placeholder="Adresin ilçesi giriniz"
                            name="address_counties"
                            id="address_counties_{{ address.id }}">
                        <option></option>
                        {% for county in address.districts.counties.cities.counties_cities_key.all %}
                            {% if county.id == address.districts.counties.id %}
                                <option value="{{ county.id }}"
                                        selected>{{ county.county }}</option>
                            {% else %}
                                <option value="{{ county.id }}">{{ county.county }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label">Şehir:</label>
                <div class="col-lg-9 col-form-label">
                    <select class="form-control select"
                            data-container-css-class="bg-slate-700"
                            data-dropdown-css-class="bg-slate-700"
                            data-placeholder="Adresin şehri giriniz"
                            name="address_cities"
                            id="address_cities_{{ address.id }}">
                        <option></option>
                        {% for city in cities %}
                            {% if city.id == address.districts.counties.cities.id %}
                                <option value="{{ city.id }}"
                                        selected>{{ city.city }}</option>
                            {% else %}
                                <option value="{{ city.id }}">{{ city.city }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <span class="text-muted">En son güncelleme: {{ address.udate|date:"d.m.Y H:i" }}</span>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" id="edit-address-button"
                class="btn btn-primary ml-sm-2 mb-sm-0"><i
                class="icon-floppy-disk mr-2"></i>Kaydet
        </button>
        <button type="button" class="btn bg-light"
                id="close-address-edit-button-{{ pharmacy.id }}">Kapat
        </button>
        <script>
            $('#close-address-edit-button-{{ pharmacy.id }}').click(function () {
                var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                var address_id = $("[name=address_id_{{ address.id }}]").val();
                $.ajax
                ({
                    url: '/pharmacy/address/cancel/',
                    data: {
                        'csrfmiddlewaretoken': csrftoken,
                        'address_id': address_id,
                    },
                    type: 'post',
                    success: function (result) {
                        $("#address_modal_{{ address.id }}").html(result);
                    }
                });
            });
        </script>
    </div>
</div>