{% load staticfiles %}

{% block pharmacy_pagination %}

    <nav>
        <ul class="pagination justify-content-center">
            {% if pharmacy_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="/pharmacy/{{ pharmacies_list.previous_page_number }}/">
                        &laquo;
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                        &laquo;
                    </a>
                </li>
            {% endif %}

            {% for page in page_range %}
                {% if page == pharmacies_list.number %}
                    <li class="page-item disabled">
                        <a class="page-link">
                            {{ page }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="/pharmacy/{{ page }}/">
                            {{ page }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if pharmacies_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="/pharmacy/{{ pharmacies_list.next_page_number }}/">
                        &raquo;
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                        &raquo;
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}