<div class="form-group" id="address_modal_{{ address.id }}">
    <div class="card">
        <div class="card-body ml-lg-3 mt-lg-2 mb-lg-2">
            <input type="text" name="address_id_{{ address.id }}" value="{{ address.id }}" style="display: none">
            <div class="form-group row">
                <label class="col-lg-3 col-form-label">Adres:</label>
                <div class="col-lg-9 col-form-label">
                    <p>{{ address.description }}</p>
                </div>
                <label class="col-lg-3 col-form-label"></label>
                <div class="col-lg-9 col-form-label">
                    <p>{{ address.otheraddrinfo }}</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label">Semt:</label>
                <div class="col-lg-9 col-form-label">
                    <p>{{ address.districts }}</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label">İlçe:</label>
                <div class="col-lg-9 col-form-label">
                    <p>{{ address.districts.counties.county }}</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label">Şehir:</label>
                <div class="col-lg-9 col-form-label">
                    <p>{{ address.districts.counties.cities.city }}</p>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <span class="text-muted">En son güncelleme: {{ address.udate|date:"d.m.Y H:i" }}</span>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" id="edit-address-button-{{ pharmacy.id }}"
                class="btn bg-teal-400 ml-sm-2 mb-sm-0"><i
                class="icon-pencil mr-2"></i>Değiştir
        </button>
        <script>
            $('#edit-address-button-{{ pharmacy.id }}').click(function () {
                var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                var address_id = $("[name=address_id_{{ address.id }}]").val();
                $.ajax
                ({
                    url: '/pharmacy/address/edit/',
                    data: {
                        'csrfmiddlewaretoken': csrftoken,
                        'address_id': address_id,
                    },
                    type: 'post',
                    success: function (result) {
                        $("#address_modal_{{ address.id }}").html(result);
                    }
                });
            });
        </script>
        <button type="button" class="btn bg-light" data-dismiss="modal">Kapat
        </button>
    </div>
</div>