{% load staticfiles %}
{% load custom_tags %}

{% block home_table %}

    <!-- Home table -->

    <!-- Zoom option -->
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Ürün alışları</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="chart-container">
                        <div class="chart has-fixed-height" id="line_basic"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <!-- Basic line -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Ürün satışları</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="chart-container">
                        <div class="chart has-fixed-height" id="line_basic_2"></div>
                    </div>
                </div>
            </div>
            <!-- /basic line -->
        </div>
    </div>
    <!-- /zoom option -->
    <!-- /home table -->

    <div class="row">
        <div class="col-md-12 col-lg-4">
            <div class="row">
                <div class="col-md-4 col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card bg-primary text-white">

                                <div class="card-body justify-content-center">
                                    <!-- Progress counter -->
                                    <input type="text" id="total_users" value="{{ user_count }}" style="display: none;">
                                    <div class="svg-center position-relative" id="total-users-progress"></div>
                                    <!-- /progress counter -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-12">
                    <div class="card bg-danger text-white">

                        <div class="card-body">
                            <input type="text" id="total_pharmacies" value="{{ pharmacy_count }}"
                                   style="display: none;">
                            <div class="svg-center position-relative" id="total-pharmacies-progress"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-12">
                    <div class="card bg-warning text-white">

                        <div class="card-body">
                            <input type="text" id="total_product_brands" value="{{ product_brands_count }}" style="display: none;">
                            <div class="svg-center position-relative" id="total-product-brands-progress"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-12">
                    <div class="card bg-success text-white">

                        <div class="card-body">
                            <input type="text" id="total_products" value="{{ product_count }}" style="display: none;">
                            <div class="svg-center position-relative" id="total-products-progress"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header bg-slate text-white header-elements-inline">
                    <h6 class="card-title fixed-top">Son eklenen eczaneler</h6>
                    <div class="header-elements">
                        <a href="{% url 'pharmacy_table' %}"
                           class="btn bg-white text-white-400">Tüm eczaneler</a>
                    </div>
                </div>

                <div class="card-body card-h">
                    <table class="table table-togglable table-hover">
                        <thead>
                        <tr>
                            <th data-toggle="true">İsim</th>
                            <th data-toggle="true">Oluşturma Tarihi</th>
                            <th data-toggle="true">İl</th>
                        </tr>
                        </thead>
                        <tbody id="pharmacy_table">
                        {% for pharmacy in last_pharmacies %}
                            <tr>
                                <td>{{ pharmacy.name }}</td>
                                <td>{{ pharmacy.cdate|date:"d.m.Y H:i" }}</td>
                                <td>{% for address in pharmacies_has_address %}
                                    {% if address.pharmacies_id == pharmacy.id %}
                                        {{ address.addresses.districts.counties.cities.city }}
                                    {% endif %}{% endfor %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">

                        <div class="card-header bg-slate text-white header-elements-inline">
                            <h6 class="card-title fixed-top">Son ürün alışları</h6>
                            <div class="header-elements">
                                <a href="{% url 'product_buy_table' %}"
                                   class="btn bg-white text-white-400">Tüm ürün alışları</a>
                            </div>
                        </div>

                        <div class="card-body card-h-2">
                            <table class="table table-togglable table-hover">
                                <thead>
                                <tr>
                                    <th data-toggle="true">İsim</th>
                                    <th data-toggle="true">Alış Tarihi</th>
                                    <th data-toggle="true">Miktar</th>
                                </tr>
                                </thead>
                                <tbody id="pharmacy_table">
                                {% for product_buy in last_product_buy %}
                                    <tr>
                                        <td>{{ product_buy.products.name }}</td>
                                        <td>{{ product_buy.buydate|date:"d.m.Y" }}</td>
                                        <td>{{ product_buy.quantity }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card">

                        <div class="card-header bg-slate text-white header-elements-inline">
                            <h6 class="card-title fixed-top">Son ürün satışları</h6>
                            <div class="header-elements">
                                <a href="{% url 'product_sale_table' %}"
                                   class="btn bg-white text-white-400">Tüm ürün satışları</a>
                            </div>
                        </div>

                        <div class="card-body card-h-2">
                            <table class="table table-togglable table-hover">
                                <thead>
                                <tr>
                                    <th data-toggle="true">İsim</th>
                                    <th data-toggle="true">Alış Tarihi</th>
                                    <th data-toggle="true">Miktar</th>
                                    <th data-toggle="true">Eczane</th>
                                </tr>
                                </thead>
                                <tbody id="pharmacy_table">
                                {% for product_sale in last_product_sale %}
                                    <tr>
                                        <td>{{ product_sale.products.name }}</td>
                                        <td>{{ product_sale.saledate|date:"d.m.Y" }}</td>
                                        <td>{{ product_sale.quantity }}</td>
                                        <td>{{ product_sale.pharmacies.name }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card">

                <div class="card-header bg-slate text-white header-elements-inline">
                    <h6 class="card-title fixed-top">Kullanıcı Lisansları</h6>
                    <div class="header-elements">
                        <a href="{% url 'user_license_table' %}"
                           class="btn bg-white text-white-400">Tüm lisansları</a>
                    </div>
                </div>

                <div class="card-body card-h">
                    <table class="table table-togglable table-hover">
                        <thead>
                        <tr>
                            <th data-toggle="true">Eczane</th>
                            <th data-toggle="true">Kullanıcı</th>
                            <th data-toggle="true">Son tarihi</th>
                            <th data-toggle="true"></th>
                        </tr>
                        </thead>
                        <tbody id="pharmacy_table">
                        {% for user_license in expiring_user_licenses %}
                            <tr>
                                <td>{{ user_license.pharmacies.name }}</td>
                                <td>{{ user_license.persons.name }}</td>
                                <td>{{ user_license.enddate|date:"d.m.Y" }}</td>
                                <td>
                                    <div class="progress" style="height: 2rem;">
                                        <div class="progress-bar bg-teal"
                                             style="width: {% left_days user_license.startingdate user_license.enddate %}%">
                                            <span>{% left_days user_license.startingdate user_license.enddate %}% Kalmış</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header bg-slate text-white header-elements-inline">
                    <h6 class="card-title fixed-top">Son eklenen ürünler</h6>
                    <div class="header-elements">
                        <a href="{% url 'product_sale_table' %}"
                           class="btn bg-white text-white-400">Tüm ürünler</a>
                    </div>
                </div>

                <div class="card-body card-h">
                    <table class="table table-togglable table-hover">
                        <thead>
                        <tr>
                            <th data-toggle="true">Barkod</th>
                            <th data-toggle="true">Ürün</th>
                            <th data-toggle="true">Marka</th>
                        </tr>
                        </thead>
                        <tbody id="pharmacy_table">
                        {% for product in last_products %}
                            <tr>
                                <td>{{ product.barcode }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.productbrands.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <input type="text" name="buydates" id="buydates" style="display:none;" value="{% for date in all_buy_dates %}{{ date.buydate|date:"d.m.Y" }}{% endfor %}">
            <input type="text" name="saledates" id="saledates" style="display:none;" value="{% for date in all_sale_dates %}{{ date.saledate|date:"d.m.Y" }}{% endfor %}">
            <input type="text" name="buycount" id="buycount" style="display: none" value="{% for count in buy_counts %}{{ count.count }}{% endfor %}">
            <input type="text" name="salecount" id="salecount" style="display: none" value="{% for count in sale_counts %}{{ count.count }}{% endfor %}">
        </div>
    </div>
    <script>

    </script>

{% endblock %}