<div class="tt-menu tt-open"
     style="position: absolute; top: 70%; left: 10px; z-index: 100; display: block; width: inherit">
    {% for pharmacy in pharmacies %}
        <div class="tt-suggestion" onclick="$('#edit_product_sale_pharmacies_id_{{ product_sales.id }}').val('{{ pharmacy.name }}'); $('#response_edit_pharmacy_{{ product_sales.id }}').css('display', 'none'); $('.response_edit_pharmacy_id').val('{{ pharmacy.id }}');">
            <strong class="tt-highlight" id="{{ pharmacy.id }}">{{ pharmacy.name }}</strong></div>{% endfor %}</div>
