<div class="tt-menu tt-open" style="position: absolute; top: 38%; left: 10px; z-index: 100; display: block; width: inherit">{% for product in products %}
    <div class="tt-suggestion" onclick="$('#product_sale_products_id').val('{{ product.name }}'); $('#response').css('display', 'none'); $('#response_product_id').val('{{ product.id }}');"><strong class="tt-highlight" id="{{ product.id }}">{{ product.name }}</strong></div>{% endfor %}</div>
