{% extends "pharmacy_main.html" %}
{% load staticfiles %}

{% block content_wrapper %}

    <!-- Page header  -->
    {% block address_header %}
        {% include "tables/addresses_tables/addresses_header.html" %}
    {% endblock %}
    <!-- /Page header -->

    <div class="content">

        <!-- Row toggler -->
        {% block address_table %}
            {% include "tables/addresses_tables/addresses_table.html" %}
        {% endblock %}
        <!-- /Row toggler -->

        <!-- Pagination -->
        {% block address_pagination %}
            {% include "tables/addresses_tables/addresses_pagination.html" %}
        {% endblock %}
        <!-- /Pagination -->

    </div>

{% endblock %}




<!-- #################################### -->
<!-- BLOCKS NECESSARY FOR MAIN HTML START -->
{% block main_navbar %}
	{% include "blocks/main/main_navbar.html" %}
{% endblock %}

{% block main_footer %}
	{% include "blocks/main/main_footer.html" %}
{% endblock %}
<!-- BLOCKS NECESSARY FOR MAIN HTML END -->
<!-- ################################## -->



<!-- #################################### -->
<!-- MAIN HTML HEADER START -->
{% block main_header %}
    <script src="{% static "global_assets/js/demo_pages/components_modals.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/notifications/bootbox.min.js" %}"></script>
	<script src="{% static "global_assets/js/plugins/forms/selects/select2.min.js" %}"></script>
    <link href="{% static "global_assets/css/icons/fontawesome/styles.min.css" %}" rel="stylesheet" type="text/css">
{% endblock %}
<!-- MAIN HTML HEADER END -->
<!-- ################################## -->