{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lita Eczane</title>

    <!-- Global stylesheets -->
    {#	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">#}
    <link href="{% static "global_assets/css/icons/icomoon/styles.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/bootstrap_limitless.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/layout.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/components.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/colors.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "admin/css/roboto-fonts.css" %}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- MyCSS styles -->
    <link href="{% static "global_assets/css/app.css" %}" rel="stylesheet" type="text/css">
    <!-- /mycss styles -->

    <!-- Core JS files -->
    <script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
    <script src="{% static "global_assets/js/main/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/loaders/blockui.min.js" %}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script src="{% static "global_assets/js/plugins/tables/footable/footable.min.js" %}"></script>

    <script src="{% static "global_assets/js/plugins/buttons/spin.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/buttons/ladda.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/forms/selects/select2.min.js" %}"></script>
    <script src="{% static "global_assets/js/demo_pages/form_select2.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/extensions/jquery_ui/interactions.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/forms/styling/uniform.min.js" %}"></script>
    {#	<script src="{% static "global_assets/js/plugins/forms/styling/switchery.min.js" %}"></script>#}
    <script src="{% static "global_assets/js/plugins/forms/styling/switch.min.js" %}"></script>

    <script src="{% static "assets/js/app.js" %}"></script>
    <script src="{% static "global_assets/js/demo_pages/table_responsive.js" %}"></script>
    <script src="{% static "global_assets/js/demo_pages/components_buttons.js" %}"></script>
    <script src="{% static "global_assets/js/demo_pages/form_checkboxes_radios.js" %}"></script>


    <script src="{% static "global_assets/js/plugins/visualization/d3/d3.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/visualization/d3/d3_tooltip.js" %}"></script>


    <!-- /theme JS files -->

    <!-- Custom header for page templates -->
    {% block main_header %}{% endblock %}
    <!-- /Custom header for page templates -->

</head>

<body class="navbar-top">

<!-- Main navbar -->
{% block main_navbar %}{% endblock %}
<!-- /main navbar -->

<!-- Page content -->
<div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Content area -->
        {% block content_wrapper %}{% endblock %}
        <!-- /content area -->

        <!-- Footer -->
        {% block main_footer %}{% endblock %}
        <!-- /footer -->

    </div>
    <!-- /main content -->

</div>
<!-- /page content -->


<!-- MyJS scrpits -->
<script src="{% static "global_assets/js/dashboard.js" %}"></script>
<script src="{% static "global_assets/js/demo_pages/charts/echarts/eczane.js" %}"></script>
<script src="{% static "global_assets/js/plugins/visualization/echarts/echarts.min.js" %}"></script>

</body>
</html>
