{% extends "pharmacy_main.html" %}
{% load staticfiles %}

{% block content_wrapper %}

    <!-- Page header  -->
    {% block product_sales_header %}
        {% include "tables/product_sales_tables/product_sales_header.html" %}
    {% endblock %}
    <!-- /Page header -->

    <div class="content">

        <!-- Row toggler -->
        {% block product_sales_table %}
            {% include "tables/product_sales_tables/product_sales_table.html" %}
        {% endblock %}
        <!-- /Row toggler -->

        <!-- Pagination -->
        {% block product_sales_pagination %}
            {% include "tables/product_sales_tables/product_sales_pagination.html" %}
        {% endblock %}
        <!-- /Pagination -->

    </div>

{% endblock %}




<!-- #################################### -->
<!-- BLOCKS NECESSARY FOR MAIN HTML START -->
{% block main_navbar %}
	{% include "blocks/main/main_navbar.html" %}
{% endblock %}

{% block main_footer %}
	{% include "blocks/main/main_footer.html" %}
{% endblock %}
<!-- BLOCKS NECESSARY FOR MAIN HTML END -->
<!-- ################################## -->



<!-- #################################### -->
<!-- MAIN HTML HEADER START -->
{% block main_header %}
    <script src="{% static "global_assets/js/demo_pages/components_modals.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/notifications/bootbox.min.js" %}"></script>
	<script src="{% static "global_assets/js/plugins/forms/selects/select2.min.js" %}"></script>
    <link href="{% static "global_assets/css/icons/fontawesome/styles.min.css" %}" rel="stylesheet" type="text/css">


	<script src="{% static "global_assets/js/plugins/ui/moment/moment.min.js" %}"></script>
	<script src="{% static "global_assets/js/plugins/pickers/daterangepicker.js" %}"></script>
	<script src="{% static "global_assets/js/plugins/pickers/anytime.min.js" %}"></script>
	<script src="{% static "global_assets/js/plugins/pickers/pickadate/picker.js" %}"></script>
	<script src="{% static "global_assets/js/plugins/pickers/pickadate/picker.date.js" %}"></script>
	<script src="{% static "global_assets/js/plugins/pickers/pickadate/picker.time.js" %}"></script>
	<script src="{% static "global_assets/js/plugins/pickers/pickadate/legacy.js" %}"></script>
	<script src="{% static "global_assets/js/plugins/notifications/jgrowl.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/forms/styling/uniform.min.js" %}"></script>
	<script src="{% static "global_assets/js/plugins/forms/styling/switchery.min.js" %}"></script>
	<script src="{% static "global_assets/js/plugins/forms/inputs/touchspin.min.js" %}"></script>


    <script src="{% static "global_assets/js/plugins/forms/inputs/inputmask.js" %}"></script>
	<script src="{% static "global_assets/js/plugins/forms/styling/uniform.min.js" %}"></script>
	<script src="{% static "global_assets/js/plugins/forms/inputs/autosize.min.js" %}"></script>
	<script src="{% static "global_assets/js/plugins/forms/inputs/formatter.min.js" %}"></script>
	<script src="{% static "global_assets/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js" %}"></script>
	<script src="{% static "global_assets/js/plugins/forms/inputs/typeahead/handlebars.min.js" %}"></script>
	<script src="{% static "global_assets/js/plugins/forms/inputs/passy.js" %}"></script>
	<script src="{% static "global_assets/js/plugins/forms/inputs/maxlength.min.js" %}"></script>


	<script src="{% static "global_assets/js/demo_pages/form_input_groups.js" %}"></script>
	<script src="{% static "global_assets/js/demo_pages/picker_date.js" %}"></script>
{% endblock %}
<!-- MAIN HTML HEADER END -->
<!-- ################################## -->